/*--------------------------------------------------------------
## Containers
--------------------------------------------------------------*/
.container {
	margin: 0 auto;
	max-width: 1190px; // 1140px container.
	padding: 0 25px;
	position: relative;
	width: 100%;

	@media (max-width: 480px) {
		padding: 0 15px;
	}
}

.site-content {
	@include clearfix;
}

.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;

	@at-root .no-active-sidebar .content-area {
		float: none;
		margin: 0;
		width: auto;
	}

	@media (max-width: 768px) {
		float: none;
		margin: 0;
		width: auto;
	}
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;

	@at-root .no-active-sidebar .site-main {
		margin: 0;
	}

	@media (max-width: 768px) {
		margin: 0;
	}
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	padding-left: 40px;
	width: $size__site-sidebar;

	@media (max-width: 768px) {
		float: none;
		margin-top: 5.3333em;
		padding-left: 0;
		width: 100%;
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
