/*--------------------------------------------------------------
## Containers
--------------------------------------------------------------*/
.container {
	margin: 0 auto;
	max-width: 1190px; // 1140px container.
	padding: 0 25px;
	position: relative;
	width: 100%;

	@media (max-width: 480px) {
		padding: 0 15px;
	}
}

.site-content {
	@include clearfix;
}

// Content area without sidebar.
.content-area {
	width: 100%; 
}

// Content area with sidebar.
.sidebar {
	
	.content-area {
		float: left;
		margin: 0 (-$size__site-sidebar) 0 0;
		width: $size__site-main;

		@at-root .sidebar-left#{&} {
			float: right;
			margin: 0 0 0 (-$size__site-sidebar);	
		}

		@media (max-width: 768px) {
			margin: 0 !important;
			width: 100% !important;
		}
	}

	.site-main {
		margin: 0 $size__site-sidebar 0 0;

		@at-root .sidebar-left#{&} {
			margin: 0 0 0 $size__site-sidebar;		
		}

		@media (max-width: 768px) {
			margin: 0 !important;
		}
 	}
 }

// No Sidebar page layout setting.
.page-layout-no-sidebar.sidebar .site-content {

	.content-area {
		float: none;
		margin: 0;
		width: 100%; 
	}

	.site-main {
		margin: 0;
	}
} 

// Full Width page layout setting.
.page-layout-full-width-no-sidebar .site-content {

	#primary.content-area {
		float: none;
		margin: 0;
		width: 100%; 
	}

	#main.site-main {
		margin: 0;
	}

	.container {
		max-width: none;
		padding: 0;  
	}
}
	
// Sidebar.
.widget-area {
	float: right;
	padding-left: 40px;
	width: $size__site-sidebar;	
	
	.sidebar-left & {
		float: left;
		padding-right: 40px;
		padding-left: 0;	
	}

	@media (max-width: 768px) {
		margin-top: 80px;	
		padding: 0;		
		width: 100%;
	}
}
