.page-layout-no-sidebar,
.page-layout-full-width {
    .site-main {
        margin: 0;
    }
}

.page-layout-full-width,
.page-layout-full-width-sidebar {
    .site-content .container {
        max-width: 100%;
    }
}

.page-layout-no-masthead-margin #masthead {
    margin-bottom: 0;
}

.page-layout-no-footer-margin #colophon {
    margin-top: 0;
}
