.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.woocommerce #respond input#submit {
	background: #fff;
	border: 2px solid;
	border-color: $color__border-button;
	border-radius: 0;
	color: $color__text-dark;
	font-family: $font__details;
	@include font-size(0.8666);
	line-height: 1;
	letter-spacing: .1em;
	outline-style: none;
	padding: 1em 1.923em;
	@include transition(0.3s);
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: #fff;
		border-color: $color__primary-accent;
		color: $color__primary-accent;
	}

	&:active,
	&:focus {
		border-color: $color__primary-accent;
		color: $color__primary-accent;
	}
}
