/*--------------------------------------------------------------
# WooCommerce Layout
--------------------------------------------------------------*/
.woocommerce-page #container {
  float: right;
  margin: 0 0 0 -25.61404%;
  width: 100%; }
  .no-active-wc-sidebar.woocommerce-page #container {
    float: none;
    margin: 0;
    width: auto; }
  @media (max-width: 768px) {
    .woocommerce-page #container {
      float: none;
      margin: 0;
      width: auto; } }

.woocommerce-page .container #content {
  float: right;
  margin: 0 0 0 25.61404%; }
  .no-active-wc-sidebar.woocommerce-page #content {
    margin: 0; }
  @media (max-width: 768px) {
    .woocommerce-page .container #content {
      margin: 0; } }

.woocommerce-page .container .widget-area {
  float: left;
  padding-left: 0;
  padding-right: 40px; }

/*--------------------------------------------------------------
# WooCommerce Archive
--------------------------------------------------------------*/
.woocommerce .woocommerce-ordering {
  cursor: pointer;
  margin-bottom: 40px; }
  .woocommerce .woocommerce-ordering .ordering-selector-wrapper {
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    color: #626262;
    display: block;
    font-size: 0.85em;
    line-height: 1em;
    padding: 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper .current {
      display: inline-block; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper svg {
      float: right;
      margin: 0 -3px 0 10px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all 0.15s ease-in;
      -moz-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in; }
      .woocommerce .woocommerce-ordering .ordering-selector-wrapper svg path {
        fill: #626262; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper:hover {
      color: #2d2d2d; }
      .woocommerce .woocommerce-ordering .ordering-selector-wrapper:hover .north-icon-next {
        color: #2d2d2d;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
      .woocommerce .woocommerce-ordering .ordering-selector-wrapper:hover path {
        fill: #2d2d2d; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper .ordering-dropdown-container {
      left: -1px;
      min-height: 1px;
      position: absolute;
      right: -1px;
      top: 100%;
      z-index: 999; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper .ordering-dropdown {
      background: white;
      border: 1px solid #ebebeb;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
      display: block;
      list-style: none;
      margin: 0;
      opacity: 0;
      padding: 5px 0;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 100%;
      opacity: 0;
      -webkit-transition: all 0.15s ease-in;
      -moz-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in;
      -webkit-transform-origin: center top;
      -moz-transform-origin: center top;
      -ms-transform-origin: center top;
      -o-transform-origin: center top;
      transform-origin: center top;
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
      transform: scale(0.95); }
      .woocommerce .woocommerce-ordering .ordering-selector-wrapper .ordering-dropdown li {
        color: #adadad;
        cursor: pointer;
        padding: 15px 25px;
        position: relative;
        white-space: nowrap; }
        .woocommerce .woocommerce-ordering .ordering-selector-wrapper .ordering-dropdown li:hover {
          color: #2d2d2d; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper:hover .ordering-dropdown {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.woocommerce .woocommerce-result-count {
  color: #626262;
  font-size: 13px; }

.woocommerce ul.products li.product {
  margin: 0 0 25px 0;
  width: 100%; }
  .woocommerce ul.products li.product.first {
    margin: 0 0 25px 0; }
  .woocommerce ul.products li.product.last {
    margin: 0 0 25px 1%; }
  @media (min-width: 321px) {
    .woocommerce ul.products li.product {
      margin: 0 1% 35px 1%;
      width: 31.333%; }
      .woocommerce ul.products li.product.first {
        margin: 0 2% 35px 0; }
      .woocommerce ul.products li.product.last {
        margin: 0 0 35px 2%; } }
  .woocommerce ul.products li.product span.onsale {
    background-color: #24c48a;
    border-radius: 0;
    font-size: 11px;
    left: 0;
    right: auto;
    line-height: normal;
    min-height: 0;
    padding: 5px 13px;
    text-transform: uppercase;
    top: 5px;
    z-index: 10; }
  .woocommerce ul.products li.product a img {
    margin-bottom: 0; }
  .woocommerce ul.products li.product h3 {
    text-align: center; }
  .woocommerce ul.products li.product .price {
    color: #24c48a;
    text-align: center; }
    .woocommerce ul.products li.product .price del {
      color: #adadad;
      display: inline; }
    .woocommerce ul.products li.product .price ins {
      color: #24c48a;
      display: inline; }
  .woocommerce ul.products li.product .loop-product-thumbnail {
    position: relative;
    background: #00a76a; }
    .woocommerce ul.products li.product .loop-product-thumbnail:hover img {
      opacity: 0.25; }
    .woocommerce ul.products li.product .loop-product-thumbnail:hover .add_to_cart_button,
    .woocommerce ul.products li.product .loop-product-thumbnail:hover .product-quick-view-button {
      opacity: 1;
      visibility: visible; }
    .woocommerce ul.products li.product .loop-product-thumbnail .add_to_cart_button,
    .woocommerce ul.products li.product .loop-product-thumbnail .product-quick-view-button {
      border-radius: 0;
      font-size: 12px;
      left: 50%;
      margin: 0;
      opacity: 0;
      padding: 12px 15px;
      position: absolute;
      visibility: hidden;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
    .woocommerce ul.products li.product .loop-product-thumbnail .add_to_cart_button {
      background: #fff;
      border: 2px solid #fff;
      bottom: 20%;
      color: #2d2d2d; }
      .woocommerce ul.products li.product .loop-product-thumbnail .add_to_cart_button:hover {
        border: 2px solid #2d2d2d; }
    .woocommerce ul.products li.product .loop-product-thumbnail .product-quick-view-button {
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      top: 20%; }
      .woocommerce ul.products li.product .loop-product-thumbnail .product-quick-view-button:hover {
        background: #fff;
        color: #2d2d2d; }

.woocommerce .woocommerce-pagination .page-numbers {
  border: none; }
  .woocommerce .woocommerce-pagination .page-numbers li {
    border: none;
    margin-right: 5px; }
    .woocommerce .woocommerce-pagination .page-numbers li a,
    .woocommerce .woocommerce-pagination .page-numbers li span {
      background: #fff;
      border: 1px solid #ebebeb;
      color: #626262;
      font-size: 13px;
      margin-right: 1px;
      padding: 9px 11px 8px; }
      .woocommerce .woocommerce-pagination .page-numbers li a:hover,
      .woocommerce .woocommerce-pagination .page-numbers li span:hover {
        background: #24c48a;
        border-color: #24c48a;
        color: #fff; }
    .woocommerce .woocommerce-pagination .page-numbers li .current {
      background: #24c48a;
      border: 1px solid #24c48a;
      color: #fff; }
      .woocommerce .woocommerce-pagination .page-numbers li .current:hover {
        background: #24c48a;
        color: #fff; }
    .woocommerce .woocommerce-pagination .page-numbers li .current {
      background: #24c48a;
      border-color: #24c48a;
      color: #fff; }
    .woocommerce .woocommerce-pagination .page-numbers li .next,
    .woocommerce .woocommerce-pagination .page-numbers li .prev {
      font-family: "Lato", sans-serif;
      padding: 9px 9px 8px; }

/*--------------------------------------------------------------
# WooCommerce Single Product
--------------------------------------------------------------*/
.woocommerce.single-product #content div.product span.onsale {
  background-color: #24c48a;
  border-radius: 0;
  left: 4px;
  line-height: normal;
  min-height: 0;
  padding: 6px 15px;
  text-transform: uppercase;
  top: 4px;
  z-index: 10; }

.woocommerce.single-product #content div.product .entry-summary {
  margin-top: 0; }
  .woocommerce.single-product #content div.product .entry-summary .product_title {
    font-size: 30px;
    text-align: left;
    margin: 20px 0; }
  .woocommerce.single-product #content div.product .entry-summary .woocommerce-product-rating {
    margin-bottom: 0; }
  .woocommerce.single-product #content div.product .entry-summary .price {
    font-size: 20px;
    margin-bottom: 15px; }
    .woocommerce.single-product #content div.product .entry-summary .price del,
    .woocommerce.single-product #content div.product .entry-summary .price del .amount {
      color: #adadad; }
    .woocommerce.single-product #content div.product .entry-summary .price .amount,
    .woocommerce.single-product #content div.product .entry-summary .price ins {
      color: #24c48a; }
  .woocommerce.single-product #content div.product .entry-summary .description p {
    color: #626262; }
  .woocommerce.single-product #content div.product .entry-summary .cart {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 0;
    padding-bottom: 30px; }
    .woocommerce.single-product #content div.product .entry-summary .cart button {
      background-color: #24c48a;
      border-radius: 0;
      font-size: 14px;
      margin-left: 15px;
      padding: 13px 20px;
      text-transform: uppercase; }
      .woocommerce.single-product #content div.product .entry-summary .cart button:hover {
        background-color: #00a76a; }
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls::after {
      clear: both;
      content: "";
      display: table; }
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .qty {
      -moz-appearance: textfield;
      border-color: #adadad;
      border-radius: 0;
      border-width: 1px;
      color: #626262;
      float: left;
      height: 40px;
      padding: 0;
      width: 40px; }
      .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .qty::-webkit-inner-spin-button, .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .qty::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .add,
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .subtract {
      background: #f9f9f9;
      border-color: #adadad;
      border-radius: 0;
      border-width: 1px;
      float: left;
      height: 40px;
      padding: 6px 10px;
      width: 40px; }
      .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .add:hover,
      .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .subtract:hover {
        background: #c6c6c6; }
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .subtract {
      border-right: none; }
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .add {
      border-left: none; }
  .woocommerce.single-product #content div.product .entry-summary .product_meta {
    border-bottom: 1px solid #f4f4f4;
    padding: 30px 0; }
    .woocommerce.single-product #content div.product .entry-summary .product_meta span {
      color: #adadad;
      display: block; }
      .woocommerce.single-product #content div.product .entry-summary .product_meta span a {
        color: #2d2d2d; }

.woocommerce.single-product #content div.product .images .product-images-slider {
  margin-bottom: 20px; }

.woocommerce.single-product #content div.product .images .product-images-carousel {
  border: 0;
  padding: 0 30px; }
  .woocommerce.single-product #content div.product .images .product-images-carousel .slide {
    cursor: pointer;
    opacity: 0.7; }
    .woocommerce.single-product #content div.product .images .product-images-carousel .slide.flex-active-slide {
      cursor: default;
      opacity: 1; }
  .woocommerce.single-product #content div.product .images .product-images-carousel .flex-direction-nav a {
    height: 30px;
    margin: -20px 0 0;
    width: 28px; }
    .woocommerce.single-product #content div.product .images .product-images-carousel .flex-direction-nav a:before {
      font-size: 15px;
      padding: 3px 10px; }

.woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs {
  margin-bottom: 30px;
  padding-left: 0;
  text-transform: uppercase; }
  .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs:before {
    border-bottom: 1px solid #f4f4f4; }
  .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs li {
    background: transparent;
    border: none;
    font-size: 12px;
    margin: 0;
    margin-right: 30px;
    padding: 0; }
    .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs li.active {
      border-bottom: 2px solid #626262; }
    .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs li:before, .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs li:after {
      border: none;
      box-shadow: none; }

/*--------------------------------------------------------------
# WooCommerce Checkout
--------------------------------------------------------------*/
.woocommerce .woocommerce-info {
  padding-left: 2em !important;
  border-top: 0;
  margin-bottom: 0.5em !important; }
  .woocommerce .woocommerce-info:before {
    content: ''; }
  .woocommerce .woocommerce-info a {
    text-decoration: none; }

.woocommerce form.login,
.woocommerce form.checkout_coupon {
  margin: 0.5em 0;
  border-radius: 0;
  border-color: #f4f4f4;
  padding: 10px 20px; }
  .woocommerce form.login input.input-text,
  .woocommerce form.checkout_coupon input.input-text {
    padding: 0.5em;
    border-radius: 0; }
  .woocommerce form.login .form-row,
  .woocommerce form.checkout_coupon .form-row {
    padding: 1em 0; }
  .woocommerce form.login input.button,
  .woocommerce form.checkout_coupon input.button {
    background-color: #24c48a;
    color: #fff;
    margin-right: 1.2em;
    border-radius: 0; }
    .woocommerce form.login input.button:hover,
    .woocommerce form.checkout_coupon input.button:hover {
      background-color: #24c48a; }
  .woocommerce form.login a,
  .woocommerce form.checkout_coupon a {
    text-decoration: none; }

.woocommerce .woocommerce-checkout .checkout-details {
  width: 48%;
  float: left;
  margin-top: 2em; }
  @media screen and (max-width: 768px) {
    .woocommerce .woocommerce-checkout .checkout-details {
      width: 100%;
      float: none; } }
  .woocommerce .woocommerce-checkout .checkout-details h3 {
    font-size: 1.5em; }
    .woocommerce .woocommerce-checkout .checkout-details h3 label {
      font-size: 0.8em; }
  .woocommerce .woocommerce-checkout .checkout-details .form-row {
    margin-bottom: 1em; }
    .woocommerce .woocommerce-checkout .checkout-details .form-row label {
      line-height: 1.75;
      font-size: 0.9em; }
      .woocommerce .woocommerce-checkout .checkout-details .form-row label abbr {
        color: inherit; }
    .woocommerce .woocommerce-checkout .checkout-details .form-row input.input-text,
    .woocommerce .woocommerce-checkout .checkout-details .form-row textarea.input-text {
      padding: 0.5em;
      border-radius: 0; }

.woocommerce .woocommerce-checkout .order-details {
  width: 48%;
  float: right;
  border: 1px solid #f4f4f4;
  padding: 0 1em;
  margin-top: 2em; }
  @media screen and (max-width: 768px) {
    .woocommerce .woocommerce-checkout .order-details {
      width: 100%;
      float: none; } }
  .woocommerce .woocommerce-checkout .order-details h3 {
    font-size: 1.5em; }
  .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table {
    border: none;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 0; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table td {
      border-top: 1px solid #f4f4f4; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .product-name {
      width: 70%;
      padding: 10px 12px 10px 0; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .product-total {
      width: 30%;
      text-align: right;
      padding: 10px 0 10px 12px; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot th {
      border-top: 1px solid #f4f4f4;
      padding: 10px 12px 10px 0; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot td {
      padding: 10px 0 10px 12px; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot .cart-subtotal td,
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot .order-total td {
      text-align: right; }
  .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment {
    background: none; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_methods {
      border-bottom: none;
      padding: 1em 0; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_methods li {
        border-bottom: 1px solid #f4f4f4;
        padding: 0.5em 0; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_box {
      margin: 0;
      background-color: transparent; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_box:before {
        border: none; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_box p:first-child {
        margin-top: 0; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order {
      float: left;
      padding: 1em 0; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order .button {
        background-color: #24c48a;
        color: #fff;
        margin-right: 1.2em;
        border-radius: 0; }
        .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order .button:hover {
          background-color: #24c48a; }

/*--------------------------------------------------------------
# WooCommerce Cart
--------------------------------------------------------------*/
.woocommerce-cart .woocommerce-message,
.woocommerce-cart .woocommerce-info {
  border-top: none; }
  .woocommerce-cart .woocommerce-message:before,
  .woocommerce-cart .woocommerce-info:before {
    color: #24c48a; }

.woocommerce-cart form table.shop_table {
  padding: 2em;
  border-radius: 0; }
  @media screen and (max-width: 768px) {
    .woocommerce-cart form table.shop_table {
      padding: 1em; } }
  .woocommerce-cart form table.shop_table .quantity.button-controls::after {
    clear: both;
    content: "";
    display: table; }
  .woocommerce-cart form table.shop_table .quantity.button-controls .qty {
    border-radius: 0;
    width: 2em;
    float: left;
    height: 26px;
    padding: 0;
    -moz-appearance: textfield;
    border-color: #adadad;
    border-width: 1px;
    color: #626262; }
    .woocommerce-cart form table.shop_table .quantity.button-controls .qty::-webkit-inner-spin-button, .woocommerce-cart form table.shop_table .quantity.button-controls .qty::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  .woocommerce-cart form table.shop_table .quantity.button-controls .add,
  .woocommerce-cart form table.shop_table .quantity.button-controls .subtract {
    border-radius: 0;
    border-color: #adadad;
    border-width: 1px;
    background: #f9f9f9;
    float: left;
    padding: 6px 10px; }
    .woocommerce-cart form table.shop_table .quantity.button-controls .add:hover,
    .woocommerce-cart form table.shop_table .quantity.button-controls .subtract:hover {
      background: #c6c6c6; }
  .woocommerce-cart form table.shop_table .quantity.button-controls .subtract {
    border-right: none; }
  .woocommerce-cart form table.shop_table .quantity.button-controls .add {
    border-left: none; }
  .woocommerce-cart form table.shop_table thead th {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.85em; }
  .woocommerce-cart form table.shop_table .product-remove {
    width: 30px; }
    .woocommerce-cart form table.shop_table .product-remove a {
      color: #adadad !important;
      font-weight: 100; }
      .woocommerce-cart form table.shop_table .product-remove a:hover, .woocommerce-cart form table.shop_table .product-remove a:focus {
        background: transparent;
        color: #6d6d6d !important; }
  .woocommerce-cart form table.shop_table .product-thumbnail {
    width: 85px;
    padding: 6px 0; }
    .woocommerce-cart form table.shop_table .product-thumbnail a {
      vertical-align: middle; }
      .woocommerce-cart form table.shop_table .product-thumbnail a img {
        width: auto; }
    @media screen and (max-width: 768px) {
      .woocommerce-cart form table.shop_table .product-thumbnail {
        display: none; } }
  .woocommerce-cart form table.shop_table .product-name a {
    text-decoration: none;
    color: #2d2d2d;
    font-weight: bold; }
    .woocommerce-cart form table.shop_table .product-name a:hover {
      color: #24c48a; }
  .woocommerce-cart form table.shop_table .product-price {
    width: 150px; }
    .woocommerce-cart form table.shop_table .product-price .amount {
      font-weight: bold; }
    @media screen and (max-width: 768px) {
      .woocommerce-cart form table.shop_table .product-price {
        display: none; } }
  .woocommerce-cart form table.shop_table .product-quantity {
    width: 150px; }
    @media screen and (max-width: 768px) {
      .woocommerce-cart form table.shop_table .product-quantity {
        width: 60px; } }
  @media screen and (max-width: 768px) {
    .woocommerce-cart form table.shop_table .add,
    .woocommerce-cart form table.shop_table .subtract {
      display: none; } }
  .woocommerce-cart form table.shop_table .product-subtotal {
    width: 150px; }
    .woocommerce-cart form table.shop_table .product-subtotal .amount {
      font-weight: bold; }
    @media screen and (max-width: 768px) {
      .woocommerce-cart form table.shop_table .product-subtotal {
        width: 60px; } }
  .woocommerce-cart form table.shop_table td.actions {
    padding: 2em 0 0 0; }
    .woocommerce-cart form table.shop_table td.actions input.button {
      background-color: #24c48a;
      color: #fff;
      border-radius: 0; }
      .woocommerce-cart form table.shop_table td.actions input.button:hover {
        background-color: #24c48a; }
      @media screen and (max-width: 768px) {
        .woocommerce-cart form table.shop_table td.actions input.button {
          width: 100% !important; } }
    .woocommerce-cart form table.shop_table td.actions .coupon input.input-text {
      height: 36px;
      border-radius: 0;
      width: 200px !important; }
      @media screen and (max-width: 768px) {
        .woocommerce-cart form table.shop_table td.actions .coupon input.input-text {
          width: 100% !important;
          margin-bottom: 10px; } }

.woocommerce-cart .cart-collaterals .cart_totals {
  float: none;
  width: 100%; }
  .woocommerce-cart .cart-collaterals .cart_totals table {
    border: none; }
    .woocommerce-cart .cart-collaterals .cart_totals table tr th {
      padding-left: 0;
      width: 150px;
      border-top: none;
      border-bottom: 1px solid #f4f4f4; }
    .woocommerce-cart .cart-collaterals .cart_totals table tr td {
      padding-right: 0;
      text-align: right;
      border-top: none;
      border-bottom: 1px solid #f4f4f4; }
    .woocommerce-cart .cart-collaterals .cart_totals table tr.shipping p {
      margin-top: 0.25em;
      margin-bottom: 0; }
      .woocommerce-cart .cart-collaterals .cart_totals table tr.shipping p a {
        text-decoration: none; }
    .woocommerce-cart .cart-collaterals .cart_totals table tr.shipping .shipping-calculator-form .shipping-calculator-button {
      color: #24c48a; }
      .woocommerce-cart .cart-collaterals .cart_totals table tr.shipping .shipping-calculator-form .shipping-calculator-button:hover {
        color: #24c48a; }
    .woocommerce-cart .cart-collaterals .cart_totals table tr.shipping .shipping-calculator-form .button {
      background-color: #24c48a;
      color: #fff;
      border-radius: 0; }
      .woocommerce-cart .cart-collaterals .cart_totals table tr.shipping .shipping-calculator-form .button:hover {
        background-color: #24c48a; }
      @media screen and (max-width: 768px) {
        .woocommerce-cart .cart-collaterals .cart_totals table tr.shipping .shipping-calculator-form .button {
          width: 100% !important; } }

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  display: inline-block;
  background-color: #24c48a;
  color: #fff;
  border-radius: 0;
  font-size: 1em;
  float: right; }
  .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    background-color: #24c48a; }
  @media screen and (max-width: 768px) {
    .woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
      width: 100%;
      margin-bottom: 10px; } }

/*--------------------------------------------------------------
# WooCommerce Widgets
--------------------------------------------------------------*/
.woocommerce .widget-area#secondary .widget_price_filter .ui-slider {
  background-color: #f4f4f4;
  margin: 0 0 25px 0; }
  .woocommerce .widget-area#secondary .widget_price_filter .ui-slider .ui-slider-range,
  .woocommerce .widget-area#secondary .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #24c48a; }
  .woocommerce .widget-area#secondary .widget_price_filter .ui-slider .ui-slider-handle {
    border-radius: 0;
    height: 16px;
    margin: 0;
    top: -6px;
    width: 10px; }

.woocommerce .widget-area#secondary .widget_price_filter .ui-widget-content {
  border-radius: 0; }

.woocommerce .widget-area#secondary .widget_price_filter .ui-slider-horizontal {
  height: 3px; }

.woocommerce .widget-area#secondary .widget_price_filter .price_slider_amount {
  text-align: left; }
  .woocommerce .widget-area#secondary .widget_price_filter .price_slider_amount .price_label {
    font-weight: light; }
    .woocommerce .widget-area#secondary .widget_price_filter .price_slider_amount .price_label span {
      font-weight: bold; }
  .woocommerce .widget-area#secondary .widget_price_filter .price_slider_amount .button {
    background: transparent;
    border-radius: 0;
    border: 1px solid #f4f4f4;
    color: #626262;
    font-weight: normal;
    float: right; }
    .woocommerce .widget-area#secondary .widget_price_filter .price_slider_amount .button:hover {
      border-color: #00a76a;
      box-shadow: none;
      color: #00a76a; }

.woocommerce .widget-area#secondary .widget_product_tag_cloud a {
  border: 1px solid #f4f4f4;
  color: #626262;
  display: inline-block;
  font-size: 15px;
  line-height: normal;
  margin: 0 7px 10px 0;
  padding: 8px 10px;
  text-decoration: none; }
  .woocommerce .widget-area#secondary .widget_product_tag_cloud a:hover {
    background: #24c48a;
    border-color: #24c48a;
    color: #fff !important; }

.woocommerce .widget-area#secondary .widget_products .product_list_widget li,
.woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li,
.woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li {
  padding-bottom: 25px;
  padding-top: 0;
  border-bottom: none; }
  .woocommerce .widget-area#secondary .widget_products .product_list_widget li img,
  .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li img,
  .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li img {
    float: left;
    margin-left: 0;
    margin-right: 20px;
    width: 70px; }
  .woocommerce .widget-area#secondary .widget_products .product_list_widget li .product-title,
  .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li .product-title,
  .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li .product-title {
    display: inline-block;
    padding: 10px 0; }
  .woocommerce .widget-area#secondary .widget_products .product_list_widget li .amount,
  .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li .amount,
  .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li .amount {
    color: #24c48a;
    display: inline; }
  .woocommerce .widget-area#secondary .widget_products .product_list_widget li ins,
  .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li ins,
  .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li ins {
    background: transparent; }
  .woocommerce .widget-area#secondary .widget_products .product_list_widget li del,
  .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li del,
  .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li del {
    color: #adadad; }
    .woocommerce .widget-area#secondary .widget_products .product_list_widget li del .amount,
    .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li del .amount,
    .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li del .amount {
      color: #adadad;
      display: inline; }

.woocommerce .widget-area#secondary .widget_product_search .search-form {
  position: relative; }
  .woocommerce .widget-area#secondary .widget_product_search .search-form input[type="search"] {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%; }
  .woocommerce .widget-area#secondary .widget_product_search .search-form button[type="submit"] {
    border: none;
    padding: 7px;
    padding-left: 8px;
    position: absolute;
    right: 15px;
    top: 3px; }
    .woocommerce .widget-area#secondary .widget_product_search .search-form button[type="submit"] svg {
      fill: #626262;
      height: 16px;
      width: 16px; }

.woocommerce .widget-area#secondary .widget_shopping_cart li {
  border-bottom: none;
  padding-bottom: 25px;
  padding-top: 0; }
  .woocommerce .widget-area#secondary .widget_shopping_cart li img {
    float: left;
    margin-left: 0;
    margin-right: 20px;
    width: 70px; }
  .woocommerce .widget-area#secondary .widget_shopping_cart li .product-title {
    display: inline-block;
    padding: 10px 0; }
  .woocommerce .widget-area#secondary .widget_shopping_cart li .quantity .amount {
    color: #24c48a; }
  .woocommerce .widget-area#secondary .widget_shopping_cart li .remove {
    color: #adadad !important;
    left: auto;
    right: 0; }
    .woocommerce .widget-area#secondary .widget_shopping_cart li .remove:hover {
      background: transparent;
      color: #2d2d2d !important; }

.woocommerce .widget-area#secondary .widget_shopping_cart .total {
  border-top: 1px solid #f4f4f4;
  font-size: 13px;
  margin-bottom: 10px; }
  .woocommerce .widget-area#secondary .widget_shopping_cart .total strong {
    font-weight: lighter; }

.woocommerce .widget-area#secondary .widget_shopping_cart .buttons .button {
  background: transparent;
  border: 2px solid #ebebeb;
  border-radius: 0;
  display: inline;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0;
  padding: 7px 13px; }
  .woocommerce .widget-area#secondary .widget_shopping_cart .buttons .button.checkout {
    background: #24c48a;
    border-color: #24c48a;
    color: #fff; }
    .woocommerce .widget-area#secondary .widget_shopping_cart .buttons .button.checkout:hover {
      background: #00a76a;
      border-color: #00a76a; }

.woocommerce .widget-area#secondary .widget_layered_nav li a:before {
  background: transparent;
  color: #adadad !important; }

.woocommerce .widget-area#secondary .widget_layered_nav li a:hover:before {
  background: transparent;
  color: #2d2d2d !important; }

.woocommerce .widget-area#secondary .widget_layered_nav_filters li {
  border-bottom: none;
  padding: 0; }
  .woocommerce .widget-area#secondary .widget_layered_nav_filters li a:before {
    background: transparent;
    color: #adadad !important; }
  .woocommerce .widget-area#secondary .widget_layered_nav_filters li a:hover:before {
    background: transparent;
    color: #2d2d2d !important; }
