/*--------------------------------------------------------------
# WooCommerce Checkout
--------------------------------------------------------------*/
.woocommerce .woocommerce-info {
  padding-left: 2em !important;
  border-top: 0;
  margin-bottom: 0.5em !important; }
  .woocommerce .woocommerce-info:before {
    content: ''; }
  .woocommerce .woocommerce-info a {
    text-decoration: none; }

.woocommerce form.login,
.woocommerce form.checkout_coupon {
  margin: 0.5em 0;
  border-radius: 0;
  border-color: #f4f4f4;
  padding: 10px 20px; }
  .woocommerce form.login input.input-text,
  .woocommerce form.checkout_coupon input.input-text {
    padding: 0.5em;
    border-radius: 0; }
  .woocommerce form.login .form-row,
  .woocommerce form.checkout_coupon .form-row {
    padding: 1em 0; }
  .woocommerce form.login input.button,
  .woocommerce form.checkout_coupon input.button {
    background-color: #25c48a;
    color: #fff;
    margin-right: 1.2em;
    border-radius: 0; }
    .woocommerce form.login input.button:hover,
    .woocommerce form.checkout_coupon input.button:hover {
      background-color: #21af7b; }
  .woocommerce form.login a,
  .woocommerce form.checkout_coupon a {
    text-decoration: none; }

.woocommerce .woocommerce-checkout .checkout-details {
  width: 48%;
  float: left;
  margin-top: 2em; }
  .woocommerce .woocommerce-checkout .checkout-details h3 {
    font-size: 1.5em; }
    .woocommerce .woocommerce-checkout .checkout-details h3 label {
      font-size: 0.8em; }
  .woocommerce .woocommerce-checkout .checkout-details .form-row {
    margin-bottom: 1em; }
    .woocommerce .woocommerce-checkout .checkout-details .form-row label {
      line-height: 1.75;
      font-size: 0.9em; }
      .woocommerce .woocommerce-checkout .checkout-details .form-row label abbr {
        color: inherit; }
    .woocommerce .woocommerce-checkout .checkout-details .form-row input.input-text,
    .woocommerce .woocommerce-checkout .checkout-details .form-row textarea.input-text {
      padding: 0.5em;
      border-radius: 0; }

.woocommerce .woocommerce-checkout .order-details {
  width: 48%;
  float: right;
  border: 1px solid #f4f4f4;
  padding: 0 1em;
  margin-top: 2em; }
  .woocommerce .woocommerce-checkout .order-details h3 {
    font-size: 1.5em; }
  .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table {
    border: none;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 0; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table td {
      border-top: 1px solid #f4f4f4; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .product-name {
      width: 70%;
      padding: 10px 12px 10px 0; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .product-total {
      width: 30%;
      text-align: right;
      padding: 10px 0 10px 12px; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot th {
      border-top: 1px solid #f4f4f4;
      padding: 10px 12px 10px 0; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot td {
      padding: 10px 0 10px 12px; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot .cart-subtotal td,
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot .order-total td {
      text-align: right; }
  .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment {
    background: none; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_methods {
      border-bottom: none;
      padding: 1em 0; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_methods li {
        border-bottom: 1px solid #f4f4f4;
        padding: 0.5em 0; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_box {
      margin: 0;
      background-color: transparent; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_box:before {
        border: none; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_box p:first-child {
        margin-top: 0; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order {
      float: left;
      padding: 1em 0; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order .button {
        background-color: #25c48a;
        color: #fff;
        margin-right: 1.2em;
        border-radius: 0; }
        .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order .button:hover {
          background-color: #21af7b; }
