.gallery {
	margin-bottom: 2.25em;
}

.gallery-item {
	display: inline-block;
	margin-bottom: 1.125em; 
	text-align: center;
	vertical-align: top;
	width: 100%;

	@for $i from 2 through 9 {
		$margin: ($i - 1) * 2.5;
		.gallery-columns-#{$i} & {
			max-width: (100% / $i);
		}
	}	
}

.gallery-caption {
	display: block;
	@include font-size(0.8666);
	line-height: 1.3999; 
}
