.flexslider.featured-posts-slider {
	border: none;
	
	.flex-direction-nav a {
		height: 50px; 
		top: 49.166%;
		margin-top: -25px;  
		width: 40px; 
	
		&:before {
			background: rgba(0, 0, 0, 0.4);
			color: #fff; 
			height: 50px;
			padding: 0;
			width: 40px; 
		}
	}
	 
	.featured-posts-slides {
	
		.featured-post-slide {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 600px;
			position: relative;
			width: 100%;

			@media (max-width: 768px) {
				height: 380px;
			}

			@media (max-width: 480px) {
				height: 155px;
			}

			.slide-content {
				background: $color__text-medium;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				overflow: hidden;
				width: 100%;
				z-index: 3;

				.slide-entry-link {
					display: block;
					left: 0;
					position: absolute;
					top: 0;
					height: 100%;
					z-index: 2;
					width: 100%;
				}

				.slide-inner {
					display: table;
					height: 100%;
					margin: 0 auto;
					width: 80%;
				}

				.slide-inner-cell {
					display: table-cell;
					padding-top: 157px; 
					width: 100%;
				}

				.entry-meta {
					@extend .entry-meta;
					letter-spacing: .2em; 
					
					span {
						color: #fff; 
					}
				}

				.entry-title {
					color: #fff;
					@include font-size(2.1333);
					margin: 1em 0 1.65em;
					position: relative;
					z-index: 3;
				}

				.entry-button {
					@include clearfix;
					font-size: 13px !important; 
					margin-top: 18px;
					position: relative;
					text-align: center;

					.button {
						background: transparent; 
						border-color: #fff;
						color: #fff; 
						letter-spacing: .2em; 
						z-index: 3;
						
						// Not working need to fix.
						@at-root .featured-posts-slides .slide-entry-link:hover .button  {
							background: #fff;
							color: $color__text-dark;  
						}						
					}					
				}
			}
		}
	}
}
