.featured-posts-slider {

	.featured-posts-slides {
	
		.featured-post-slide {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 600px;
			position: relative;
			width: 100%;

			@media ( max-width: 768px ) {
				height: 380px;
			}

			@media ( max-width: 320px ) {
				height: 155px;
			}

			.slide-content {
				background-color: rgba( 0, 0, 0, 0.12);
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				overflow: hidden;
				width: 100%;
				z-index: 3;

				.slide-entry-link {
					display: block;
					left: 0;
					position: absolute;
					top: 0;
					height: 100%;
					z-index: 2;
					width: 100%;
				}

				.slide-inner {
					display: table;
					height: 100%;
					margin: 0 auto;
					width: 80%;
				}

				.slide-inner-cell {
					display: table-cell;
					vertical-align: middle;
					width: 100%;
				}

				.entry-meta {
					margin: 0;
					position: relative;
					z-index: 3;

					@media ( max-width: 320px ) {
						display: none;
					}

					span,
					a {
						color: #fff;
						font-size: 12px;
					}
				}

				.entry-title {
					color: #fff;
					font-size: 25px;
					margin: 1em 0;
					position: relative;
					z-index: 3;
				}

				.entry-button {
					@include clearfix;
					margin-top: 18px;
					position: relative;
					text-align: center;

					.entry-button-link {
						@include appearance(none);
						color: #fff;
						cursor: pointer;
						background: transparent;
						border: 2px solid #fff;
						display: inline-block;
						font-size: 12px;
						padding: 0.5em 1.75em;
						position: relative;
						text-align: center;
						text-decoration: none;
						text-transform: uppercase;
						@include transition(all 0.15s ease-in-out);
						z-index: 3;

						&:hover {
							background: #fff;
							color: #2d2d2d;
						}
					}
				}
			}
		}
	}
}
