.flexslider.featured-posts-slider {
	border: none;

	&:hover {

		.flex-direction-nav a {

			&.flex-prev:before {
				background-color: rgba(0, 0, 0, 0.4);
				background-image: url('images/arrow-left.svg');
				background-position: 13px 15px;
				background-repeat: no-repeat;
				opacity: 1;
			}

			&.flex-next:before {
				background-color: rgba(0, 0, 0, 0.4);
				background-image: url('images/arrow-right.svg');
				background-position: 16px 15px;
				background-repeat: no-repeat;
				opacity: 1;
			}
		}

		.flex-direction-nav .flex-prev:hover,
		.flex-direction-nav .flex-next:hover {
			background: transparent !important;
		}
	}

	.flex-direction-nav {

			@media (max-width: 860px) {

				.flex-prev {
					left: 0;
				}

				.flex-next {
					right: 0;
				}
			}

			a {
				height: 50px;
				top: 49.166%;
				margin-top: -25px;
				width: 40px;

			&:before {
				background: none;
				content: "";
				height: 50px;
				opacity: 0;
				padding: 0;
				@include transition(1s);
				transition-property: opacity;
				width: 40px;
			}
		}
	}

	.featured-posts-slides {

		.featured-post-slide {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 600px;
			position: relative;
			width: 100%;

			@media (max-width: 768px) {
				height: 380px;
			}

			@media (max-width: 480px) {
				height: 155px;
			}

			.slide-content {
				@include backface-visibility(hidden);
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				overflow: hidden;
				width: 100%;
				z-index: 3;

				&.slide-overlay {
					background-color: rgba( 0, 0, 0, 0.5);
				}

				.slide-entry-link {
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 2;
				}

				.slide-inner {
					display: table;
					height: 100%;
					margin: 0 auto;
					width: 80%;
				}

				.slide-inner-cell {
					display: table-cell;
					padding-top: 157px;
					width: 100%;

					@media (max-width: 768px) {
						padding-top: 77px;
					}

					@media (max-width: 480px) {
						padding-top: 27px;
					}
				}

				.entry-meta {
					letter-spacing: .3em;

					span {
						color: #fff;
					}

					@media (max-width: 480px) {
						display: none;
					}
				}

				.entry-title {
					color: #fff;
					@include font-size(2.1333);
					margin: 1em 0 1.65em;
					position: relative;
					z-index: 3;

					@media (max-width: 480px) {
						@include font-size(1.2);
						margin: 0 0 1.2em;
					}
				}

				.entry-button {
					@include clearfix;
					margin-top: 18px;
					position: relative;
					text-align: center;
					z-index: 3;

					.button {
						background: transparent;
						border-color: #fff;
						color: #fff;
						letter-spacing: .2em;

						&:hover {
							background: #fff;
							color: $color__text-dark;
						}

						@media (max-width: 480px) {
							@include font-size(0.7333);
						}
					}
				}
			}
		}
	}
}
