#colophon {
	border-top: 1px solid $color__background-hr-dark;
	margin-top: 80px; 

	.widgets {
		@include clearfix();
		padding: 5.3333em 0;
		
		@for $i from 1 through 10 {
			$margin: ($i - 1) * 2.5;
			&.widgets-#{$i} .widget {
				width: (100% - $margin) / $i;
			}
		}		

		.widget {
			box-sizing: content-box;
			margin-right: 2.5%; 
			float: left;
			
			&:last-of-type {
				margin-right: 0 !important; 
			}
			
			@media (max-width: 768px) {
				float: none;
				margin: 0 0 4em;
				width: 100% !important; 
			}			
		}		
	}

	.site-info {
		border-top: 1px solid $color__background-hr-dark;
		color: $color__text-medium;
		@include font-size(0.8666);
		padding: 45px 0;
		text-align: center;

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $color__text-dark;
			}
		}
	}

	&.unconstrained-footer {

		.container {
			max-width: none;
			padding: 0 40px;
		}
	}
}
