p {
	margin: 0 0 1.9833em;
}

dfn, 
cite, 
em, 
i {
	font-style: italic;
}

blockquote {
	border-left: 3px solid $color__primary-accent;
	font-style: italic;
	margin: 0 0 2.25em; 
	padding: .5em 0 .55em 1.3333em;
	
	p {
		margin-bottom: 0;
	}
}

address {
	margin: 0 0 1.9833;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.9833;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, 
kbd, 
tt, 
var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, 
acronym {
	border-bottom: 1px dotted $color__text-medium;
	cursor: help;
}

mark, 
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
