h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	clear: both;
	color: $color__text-dark;
	font-family: $font__headings;
	font-weight: 700; 
}

.heading-strike {
	text-align: center;
	text-transform: uppercase;
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(center);

	&:before, 
	&:after {
		@include flex-grow(1);
		height: 2px;
		content: '\a0';
		background-color: $color__background-hr;
		align-self: center;
	}

	&:before {
		margin-right: 7px;
	}
	
	&:after {
		margin-left: 7px;
	}
}
