h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	clear: both;
	color: $color__text-dark;
	font-family: $font__headings;
	font-weight: 700;
	margin: 1em 0; 
}

h1 {
	@include font-size(2.1333);
}

h2 {
	@include font-size(1.8666);
}

h3 {
	@include font-size(1.6);
}

h4 {
	@include font-size(1.3333);
}

h5 {
	@include font-size(1.2);
}

h6 {
	@include font-size(1.0666);
}

.heading-strike {
	@include display(flex);
	@include flex-direction(row);
	@include justify-content(center);
	text-align: center;
	text-transform: uppercase;
	
	&:before, 
	&:after {
		align-self: center;
		background-color: $color__background-hr;
		content: '\a0';
		@include flex-grow(1);
		height: 2px;
	}

	&:before {
		margin-right: 7px;
	}
	
	&:after {
		margin-left: 7px;
	}
}
