body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

.site-content {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

@import "headings";

@import "copy";
