html {
  font-size: 93.75%;
}

body,
button,
input,
select,
textarea {
	color: $color__text-medium;
	font-family: $font__main;
	font-size: 15px;
	font-size: 1em;
	font-weight: 400; 
	line-height: $font__line-height-body;
}

.site-content {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

/*--------------------------------------------------------------
## Headings
--------------------------------------------------------------*/
@import "headings";

/*--------------------------------------------------------------
## Copy
--------------------------------------------------------------*/
@import "copy";
