html {
  font-size: 93.75%;
}

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 15px;
	font-size: 1em;
	font-weight: 400; 
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";