.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-title {
	color: $color__text-medium;
	@include font-size(0.8666);
	text-transform: uppercase;
}
