.widget {
	margin: 0 0 1.5em;

	select {
		max-width: 100%;
	}
}

.widget-title {
	color: $color__text-medium;
	@include font-size(0.8666);
	text-transform: uppercase;
}

/*--------------------------------------------------------------
## Sidebar Widgets
--------------------------------------------------------------*/
#secondary {

	a {
		color: $color__text-medium;
		text-decoration: none;
		
		&:hover {
			color: $color__text-dark;
		} 
	}

	.widget {
		margin-bottom: 4em; 
	}
	
	.widget-title {
		margin: 0 0 1.6em;
	}

	ul {
		list-style: none;
		margin: 0; 
		
		li {
			border-bottom: 1px solid $color__background-hr; 
			@include font-size(0.8666);
			line-height: normal;
			padding: 1.25em 0;
			
			&:first-of-type {
				padding-top: 0; 
			}
		}
	}
}
