ul, 
ol {
	margin: 0 0 2.25em 2.4em;
	padding: 0;
	
	li {
		padding-bottom: .2em; 
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0 0 0 2.4em; 
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 0 2.4em;
}
