#masthead {
	border-bottom: 1px solid $color__background-hr-dark;
	margin-bottom: 50px;

	.top-bar {
		background: #fff;
		border-bottom: 1px solid $color__background-hr-dark;
		@include clearfix;
		position: relative;
		z-index: 9999;
	}

	.top-bar-sentinel {
		box-sizing: border-box;
	}

	.site-branding {
		padding: 4em 0;
		text-align: center;

		.site-title {
			font-family: $font__details;
			font-weight: 300;
			@include font-size(4);
			letter-spacing: 1px;
			line-height: normal;
			margin: 0;
			text-align: center;
			text-transform: uppercase;

			a {
				color: $color__text-dark;
				text-decoration: none;
			}
		}

		.site-description {
			margin-bottom: 0;
			text-align: center;
		}
	}
}
