// Background colors.
$color__background-body: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-light: #f4f4f4;

// Border colors.
$color__background-hr: #f4f4f4;
$color__background-hr-dark: #ebebeb;

// Buttons.
$color__border-button: #ebebeb;

// Primary accent color.
$color__primary-accent: #24c48a;

// Text colors.
$color__text-meta: #adadad;
$color__text-medium: #626262;
$color__text-dark: #2d2d2d;
