$color__background-body: #fff;
$color__background-hr: #f4f4f4;
$color__background-hr-dark: #ebebeb;
$color__background-button: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-input: #dadada;
$color__text-input-focus: #626262;
$color__link: #24c48a;
$color__link-visited: #24c48a;
$color__link-hover: #24c48a;
$color__text-main: #626262;

$color__border-button: #dadada;
$color__border-button-hover: #24c48a;
$color__border-button-focus: #24c48a;
$color__border-input: #dadada;
$color__border-abbr: #626262;

$color__text-meta: #adadad;
$color__text-light: #dadada;
$color__text-medium: #626262;
$color__text-dark: #2d2d2d;
$color__primary-accent: #24c48a;