// Breadcrumb NavXT, Yoast and WooCommerce Breadcrumbs.
.breadcrumbs,
.woocommerce .woocommerce-breadcrumb {
	color: $color__text-light;
	font-family: $font__details;
	font-size: 12px;
	line-height: normal;
	margin-bottom: 24px;
	text-transform: uppercase;

	a {
		color: $color__text-dark;

		&:hover {
			color: $color__primary-accent;
		}
	}

	a,
	span {
		padding: 0 4px;
	}

	.breadcrumb_last {
		color: $color__text-light;
	}
}

.woocommerce .woocommerce-breadcrumb {
	margin-bottom: 35px;
}

// Breadcrumb NavXT.
.breadcrumbs.bcn {

	a,
	span {
		padding: 0;
	}

	span {
		padding: 0 2px;
	}
}
