.main-navigation {
	clear: both;
	@include clearfix;
	float: left;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			background: #fff;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
			float: left;
			opacity: 0;
			padding: 0;
			position: absolute;
			top: 50px;
			@include transition (all 0.1s ease-in-out);
			@include transform-origin(center top);
			@include transform( scaleY(0) );
			visibility: hidden;
			z-index: 99999;

			ul {
				left: 100%;
				top: 0;
			}

			li {
				padding: 0;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				&:last-child a {
					border-bottom: 0;
				}
			}

			a {
				border-bottom: 1px solid $color__background-hr;
				font-family: $font__main;
				@include font-size(0.8666);
				letter-spacing: normal;
				line-height: normal;
				margin: 0 20px;
				min-width: 150px;
				padding: 15px 0;
				text-transform: none;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover,
		li.focus {

			> ul {
				opacity: 1;
				@include transform( scaleY(1) );
				visibility: visible;
			}
		}
	}

	li {
		float: left;
		padding: 2px 45px 0 0;
		position: relative;

		a {
			text-transform: uppercase;
			color: $color__text-medium;
			font-family: $font__details;
			@include font-size(0.8);
			letter-spacing: 1px;
			line-height: 60px;
		}

		&:hover > a,
		&.focus > a {
			color: $color__text-dark;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/*--------------------------------------------------------------
## Social and Search Icons
--------------------------------------------------------------*/
.social-search {
	float: right;

	.search-toggle {
		background: transparent;
		border: none;
		line-height: 60px;
		outline: none;
		padding: 0;

		.open {
			display: block;

			.svg-icon-search {
				height: 16px;
				width: 17px;
				position: relative;
				top: 5px;

				path {
					fill: $color__text-medium;
				}
			}
		}
		.close {
			display: none;

			.svg-icon-close {
				height: 16px;
				width: 16px;
				position: relative;
				top: 5px;

				path {
					fill: $color__text-medium;
				}
			}
		}

		&.close-search {

			.open {
				display: none;
			}

			.close {
				display: block;
			}
		}
	}

	.widget {
		display: inline-block;

		.sow-social-media-button {
			color: inherit;
			margin: 0;
			padding: 0 0 0 6px;
		}
	}

	.v-line {
		background: $color__background-hr-dark;
		display: inline-block;
		height: 10px;
		line-height: 60px;
		margin: 0 8px;
		width: 1px;
	}
}

/*--------------------------------------------------------------
## Mobile Menu
--------------------------------------------------------------*/
.main-navigation ul {
	display: none;
	
	@media (min-width: 769px) {
		display: block;
	}
}

.menu-toggle {
	display: block;
	border: 0;
	background: transparent;
	line-height: 60px; 
	outline: none;
	padding: 0;
	
	@media (min-width: 769px) {
		display: none;
	}

	.svg-icon-menu {
		vertical-align: middle;
		width: 22px;
	
		path {
			fill: $color__text-medium;
		}
	}
}

#mobile-navigation {
	left: 0;
	position: absolute;
	top: 61px;
	width: 100%;
	z-index: 10;
	
	@media (min-width: 769px) {
		display: none !important;
	}	

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			background: $color__background-light;
			border-bottom: 1px solid $color__background-hr-dark;
			line-height: 42px;
			padding: 0;
			position: relative;
			width: 100%;

			a {
				color: $color__text-medium;
				display: block;
				font-family: $font__details; 
				@include font-size(0.8);
				letter-spacing: .1em;
				line-height: normal;
				padding: 14px 0 12px 20px;
				text-transform: uppercase;
				width: 100%;
			}

			&.menu-item-has-children > a {
				max-width: 100%;
				padding-right: 48px;
			}

			.dropdown-toggle {
				background: transparent;
				border: 0;
				box-shadow: none;
				content: "Open";
				height: 30px;
				padding: 6px;
				position: absolute;
				right: 5px;
				top: 6px;
				outline: none;
				width: 42px;

				.svg-icon-submenu {
					height: 10px;
					width: 10px;

					path {
						fill: $color__text-medium;
					}
				}
			}
		}		

		ul {
			border-top: 1px solid $color__background-hr-dark;
			display: none;
			margin: 0;
			padding: 0;		

			li {
				background: #fff;
				
				&:last-of-type {
					border: 0; 
				}

				a {
					padding-left: 40px; 
					text-transform: uppercase;
					width: 100%;
				}

				ul {
					display: none;
				}
			}
		}

	}
}

$sel: '';
@for $i from 1 through 5 {
    $sel: if($i == 1, "#mobile-navigation", selector-nest($sel, "ul")) !global;

    #{$sel} {
      ul ul li a {
        padding-left: 40px * $i;
      }
    }
}

/*--------------------------------------------------------------
## Posts, Post and Comment Navigation
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: auto;
	}

	.nav-previous {
		float: left;
		padding: 1em 0;
		text-align: left;
		width: 50%;

		span {
			font-family: Verdana, Geneva, sans-serif; 
			margin-right: .2em;
		}
	}

	.nav-next {
		float: right;
		padding: 1em 0;
		text-align: right;
		width: 50%;

		span {
			font-family: Verdana, Geneva, sans-serif; 
			margin-left: .2em;
		}
	}

	a {
		border: 2px solid $color__background-hr-dark;
		color: $color__text-medium;
		padding: 1em 1.923em;
		text-decoration: none;
		text-transform: uppercase;
		@include transition(0.3s);

		&:hover {
			border-color: $color__primary-accent;
			color: $color__primary-accent;
		}
	}
}

// Archive and comments: next and previous page navigation.
.posts-navigation .nav-links,
.comment-navigation .nav-links {
	@include font-size(0.8666);
	font-family: $font__details !important;
	letter-spacing: .1em;

	.nav-previous span {
		margin-right: .5em;
	}

	.nav-next span {
		margin-left: .5em;
	}
}

// Archive and comments: pagination.
.pagination {	
	margin: 0 0 4.6666em;
	text-align: center;
	
	.page-numbers {
		background: #fff; 
		border: 1px solid $color__border-button;
		color: $color__text-medium;
		font-size: 13px; 
		margin-right: 1px;
		padding: 9px 11px 8px;
		
		&:hover {
			background: $color__primary-accent;
			border-color: $color__primary-accent; 
			color: #fff;
		}
	}

	.dots {
		background: none;
		border: 0;
		font-size: 13px; 
		padding-right: 0;
		padding-left: 0; 
		
		&:hover {
			background: none;
			color: $color__text-medium;
		}
	}

	.current {
		background: $color__primary-accent;
		border-color: $color__primary-accent; 
		color: #fff;
	}

	.next,
	.prev {
		font-family: $font__details;
		padding: 9px 9px 8px;
	}
}


// Comments: next and previous page navigation.
#comment-nav-above {
	padding-top: 35px;
}

#comment-nav-below {
	padding-top: 25px; 
}

// Single post page: next and previous post navigation.
.post-navigation {
	border-top: 2px solid $color__background-hr-dark;
	border-bottom: 2px solid $color__background-hr-dark;
	font-family: $font__main;
	@include font-size(1.0666);
	font-weight: 600;
	padding: 4em 0;

	a {
		border: none;
		color: $color__text-medium;
		font-weight: 600;
		padding: 0;
		text-decoration: none;
		text-transform: none;

		&:hover {
			color: $color__primary-accent;
		}

		.sub-title {
			border-bottom: 2px solid $color__background-hr-dark;
			color: $color__text-light;
			display: inline-block;
			font-family: $font__details;
			@include font-size(0.8666);
			font-weight: normal;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: normal;
			margin-bottom: 1.1em;
			padding-bottom: .2em;
		}

		div {
			line-height: normal;
		}
	}
}
