.main-navigation {
	clear: both;
	display: block;
	float: left;
	@include clearfix;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
			background: #fff;
			float: left;
			position: absolute;
			top: 50px;
			left: -999em;
			z-index: 99999;
			padding: 0;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				padding: 0;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				&:last-child a {
					border-bottom: 0;
				}
			}

			a {
				min-width: 150px;
				text-transform: none;
				border-bottom: 1px solid $color__borders;
				margin: 0 20px;
				padding: 15px 0;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		padding-right: 2em;

		a {
			text-transform: uppercase;
			color: $color__text-medium;
			font-size: 12px;
			line-height: 12px;
			padding: 24px 0;
		}

		&:hover > a,
		&.focus > a {
			color: $color__text-dark;
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */

.main-navigation ul {
	display: none;
}

.menu-toggle {
	display: block;
	border: 0;
	background: transparent;
	height: 20px;
	margin: 20px 0;
	outline: none;
}

@media screen and (min-width: 769px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}

	#mobile-navigation {
		display: none !important;
	}

}

#mobile-navigation {
	position: absolute;
	left: 0;
	top: 60px;
	width: 100%;
	z-index: 10;

	ul {
		margin: 0;
		list-style: none;
		padding: 0;

		li {
			line-height: 42px;
			background: #f8f8f8;
			width: 100%;
			position: relative;

			a {
				display: block;
				text-decoration: none;
				color: $color__text-medium;
				padding: 15px 0 15px 20px;
				border-bottom: 1px solid #ebebeb;
				width: 100%;
				font-size: 12px;
				line-height: 12px;
				text-transform: uppercase;
			}

			&.menu-item-has-children > a {
				padding-right: 48px;
			}

			.dropdown-toggle {
				background: transparent;
				border: 0;
				content: "";
				height: 30px;
				padding: 6px;
				position: absolute;
				top: 0;
				right: 5px;
				width: 42px;
				outline: none;
				box-shadow: none;

				&:after {
					color: $color__text-medium;
					content: "d";
					font-size: 15px;
					line-height: 42px;
					position: relative;
					top: 0;
					left: 1px;
					width: 42px;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
			display: none;

			li {
				padding-left: 20px;
				background: #ffffff;

				a {
					width: 100%;
					text-transform: uppercase;
				}

				ul {
					display: none;
				}
			}
		}
	}
}

.social-search {
	float: right;

	.search-toggle {
		background: transparent;
		border: none;
		height: 20px;
		margin: 20px 0;
		outline: none;

		.open {
			display: block;
		}
		.close {
			display: none;
		}

		&.close-search {
			.open {
				display: none;
			}
			.close {
				display: block;
			}
		}
	}
}

#fullscreen-search {
	position: absolute;
	top: 60px;
	left: 0;
	background: rgba(255, 255, 255, 0.9);
	z-index: 10;
	display: none;

	form {
		position: absolute;
		top:30%;
		left: 50%;
		transform: translate(-50%, -50%);

		.searchform-title {
			text-align: center;
			text-transform: uppercase;
			font-size: 18px;
			padding-bottom: 1em;
		}

		input[type="search"] {
			border: 0;
			height: 50px;
			font-size: 36px;
			outline: none;
		}

		input[type="submit"] {
			display: none;
		}

		.search-icon {
			font-size: 36px;
			position: absolute;
			right: 0;
		}
	}
}

@media screen and (max-width: 768px) {

	#fullscreen-search form {
		input[type="search"] {
			font-size: 24px;
		}
	}

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		text-align: left;
		width: 50%;
		padding: 10px 0;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
		padding: 10px 0;
	}

	a {
		color: $color__text-dark;
		text-transform: uppercase;
		text-decoration: none;
		padding: 10px 20px;
		border: 2px solid $color__text-light;

		&:hover {
			color: $color__primary-accent-dark;
		}
	}
}

.post-navigation {
	padding: 60px 0;
	border-top: 2px solid $color__borders;
	border-bottom: 2px solid $color__borders;

	a {
		text-decoration: none;
		color: $color__text-medium;
		font-weight: bold;
		padding: 0;
		border: none;

		&:hover {
			color: $color__primary-accent-dark;
		}

		.sub-title {
			display: inline-block;
			font-weight: normal;
			text-transform: uppercase;
			color: $color__text-light;
			border-bottom: 2px solid $color__text-light;
			padding-bottom: 5px;
			margin-bottom: 10px;
		}
	}
}
