#secondary .widget,
#colophon .widget {

	.widget-title {
		color: $color__text-medium;
		font-size: 13px;
		line-height: normal;
		margin: 0 0 1.6em;
		text-transform: uppercase;
		
		// Set the font size of elements below the widget title to 14px.
		~ * {
			font-size: 14px;
		}
	}

	a {
		color: $color__text-medium;
		text-decoration: none;

		&:hover {
			color: $color__primary-accent;
		}
	}

	ul {
		list-style: none;
		margin: 0; 
	}

	&.widget_archive,
	&.widget_categories,
	&.widget_recent_comments,
	&.widget_recent_entries,
	&.widget_meta {

		ul li {
			border-bottom: 1px solid $color__background-hr;
			font-size: 13px; 
			line-height: normal;
			padding: 1.25em 0;

			&:first-of-type {
				padding-top: 0;
			}
		}
	}
}

#secondary {

	.widget {
		margin-bottom: 4em;
	}
}

/*--------------------------------------------------------------
## Categories Widget
--------------------------------------------------------------*/
.widget_categories {
	color: $color__text-light;
	
	a {
		color: $color__text-medium;
		
		&:hover {
			color: $color__text-dark;
		}
	}
}

/*--------------------------------------------------------------
## Calendar Widget
--------------------------------------------------------------*/
.widget #wp-calendar {
	border: none;
	margin: 0;

	caption {
		color: $color__text-dark;
		font-family: $font__main;
		@include font-size(0.9333);
		font-weight: 700;
		padding-bottom: .4em;
		text-align: center;
	}

	tr:nth-child(2n+2) {
		background: none;
	}

	th,
	td {
		padding: 0;
	}

	thead {
		border-bottom: 1px solid $color__background-hr;

		tr {
			background: none;
		}

		th {
			padding-bottom: .7em;
			text-align: center;
		}
	}

	tbody {
		@include font-size(0.8666);

		.pad {
			background: none;
		}

		tr:first-of-type td {
			padding-top: .7em;
		}

		td {
			padding-bottom: .5em;
			text-align: center;
		}
	}

	tfoot {

		#prev,
		#next {
			@include font-size(0.9333);

			a {
				color: $color__primary-accent;

				&:hover {
					color: $color__primary-accent-dark;
				}
			}
		}

		#next {
			text-align: right;
		}
	}
}

/*--------------------------------------------------------------
## Recent Posts Widget
--------------------------------------------------------------*/
.widget_recent_entries {

	a {
		padding-bottom: 0.5em;
	}

	.post-date {
		color: $color__text-light;
		display: block;
		@include font-size(0.8);
		padding-top: 0.5em;
	}
}

/*--------------------------------------------------------------
## Recent Posts Extended Widget
--------------------------------------------------------------*/
.recent-posts-extended {

	li {
		clear: both;
		padding-top: 3px; 
	}

	.rpwe-alignleft {
	  	float: left;
    	margin-right: 15px;
    	padding-bottom: 20px;  
	}

	h3 {
		color: $color__text-medium; 
		clear: none;
		font-size: 14px;
		font-weight: normal;
		line-height: normal;
		margin: 0;
		padding-top: 3px; 
		
		a:hover {
			color: $color__text-dark;
		}
	}

	time {
		color: $color__text-light; 
		font-size: 12px; 
	}
}

/*--------------------------------------------------------------
## Search Widget
--------------------------------------------------------------*/
#secondary .widget_search,
#colophon .widget_search {

	.search-form {
		position: relative;

		input[type="search"] {
			box-sizing: border-box;
			max-width: 100%;
			width: 100%;
		}

		button[type="submit"] {
			border: none;
			padding: 7px;
			padding-left: 8px;
			position: absolute;
			right: 15px;
			top: 3px;

			svg {
				fill: $color__text-medium;
				height: 16px;
				width: 16px;
			}
		}
	}
}
/*--------------------------------------------------------------
## Social Media Icons (Jetpack)
--------------------------------------------------------------*/
.widget.widget_wpcom_social_media_icons_widget {
	text-align: center;
	
	li {
		margin-right: 18px;
	}
}

/*--------------------------------------------------------------
## Tag Cloud Widget
--------------------------------------------------------------*/
#page .widget_tag_cloud {

	a {
		border: 1px solid $color__background-hr;
		color: $color__text-medium;
		display: inline-block;
		font-size: 15px;
		line-height: normal;
		margin: 0 7px 10px 0;
		padding: 8px 10px;
		text-decoration: none;

		&:hover {
			background: $color__primary-accent;
			border-color: $color__primary-accent;
			color: #fff !important;
		}
	}
}

#secondary .widget_tag_cloud,
#colophon .widget_tag_cloud {
	@include font-size(0.9285); // 14px base.
}
