#secondary .widget, 
#colophon .widget {

	.widget-title {
		color: $color__text-medium;
		@include font-size(0.8666);
		line-height: normal;
		margin: 0 0 1.6em;
		text-transform: uppercase;
	}
	
	// Set the font size of elements below the widget title to 14px.
	~ * {
		@include font-size(0.9333);
	}

	a {
		color: $color__text-medium;
		text-decoration: none;
		
		&:hover {
			color: $color__link;
		} 
	}

	ul {
		list-style: none;
		margin: 0; 
		
		li {
			border-bottom: 1px solid $color__background-hr; 
			@include font-size(0.8666);
			line-height: normal;
			padding: 1.25em 0;
			
			&:first-of-type {
				padding-top: 0; 
			}
		}
	}				
}

#secondary {

	.widget {
		margin-bottom: 4em; 
	}
}

/*--------------------------------------------------------------
## Calendar Widget
--------------------------------------------------------------*/
.widget #wp-calendar {
	border: none;
	margin: 0;
	
	caption { 
		color: $color__text-dark;
		@include font-size(0.8666);
		font-weight: 700;
		letter-spacing: .2em;
		text-align: right;
		text-transform: uppercase; 
	}

	tr:nth-child(2n+2) {
		background: none;
	}	

	th, 
	td {
		border: 1px solid #fff;
		padding: 0;
	}

	thead {

		tr {
			background: none; 
		}

		th {
			text-align: center;
			padding-bottom: .5em;
		}
	}

	tbody {
		@include font-size(0.9333);

		.pad {
			background: none;
		}

		td { 
			background: $color__background-hr; 
			text-align: center;
			
			&:hover {
				background: #fff;  			
			}

			a {
				border-bottom: none;
				display: block;
				
				&:hover {
					border-bottom: none;
				}
			}
		}		
	}
	
	tfoot {

		#prev, 
		#next {
			@include font-size(0.8666);
			letter-spacing: .2em;
			padding-top: .5em; 
			text-transform: uppercase; 
		}

		#next {
			text-align: right;			
		}
	}
}

/*--------------------------------------------------------------
## Recent Posts Widget
--------------------------------------------------------------*/
.widget_recent_entries {

	a {
		padding-bottom: 0.5em; 
	}
	
	.post-date {
		color: $color__text-meta;
		display: block;
		@include font-size(0.8);
		padding-top: 0.5em;
	}
}

/*--------------------------------------------------------------
## Search Widget
--------------------------------------------------------------*/
#secondary .widget_search, 
#colophon .widget_search {

	.search-form {
		position: relative;

		input[type="search"] {
			box-sizing: border-box;
			padding-right: 2em;
			max-width: 100%;
			width: 100%; 
		}

		button[type="submit"] {
			border: none;
			padding: .65em;
			padding-left: 0.89375em; 
			position: absolute;
			top: .2em;
			right: 1.269em;
			
			svg {
				fill: $color__text-main;
				height: 1.2666em;
				width: 1.3333em;
			}
		}
	}
}

/*--------------------------------------------------------------
## Tag Cloud Widget
--------------------------------------------------------------*/
#page .widget_tag_cloud {

	a {
		border: 1px solid $color__border-button;
		color: $color__text-main;
		display: inline-block;
		@include font-size(0.9333); // 15px base.
		margin: 0 .107em .45em 0;
		padding: .7642em .9785em .6213em;
		line-height: normal;
		text-decoration: none;

		&:hover {
			background: $color__text-medium;
			border-color: $color__text-medium; 
			color: #fff;
		}		
	}
}

#secondary .widget_tag_cloud, 
#colophon .widget_tag_cloud {
	@include font-size(0.9285); // 14px base.
}
