.woocommerce {

	.woocommerce-ordering {
		cursor: pointer;
		margin-bottom: 40px;

		.ordering-selector-wrapper {
			border: 1px solid $color__background-hr-dark;
			box-sizing: border-box;
			color: $color__text-medium;
			display: block;
			font-size: 0.85em;
			line-height: 1em;
			padding: 10px;
			position: relative;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;

			.current {
				display: inline-block;
			}

			svg {
				float: right;
				margin: 0 -3px 0 10px;
				@include transform( rotate(0deg) );
				@include transition (all 0.15s ease-in);

				path {
					fill: $color__text-medium;
				}
			}

			&:hover {
				color: $color__text-dark;
				.north-icon-next {
					color: $color__text-dark;
					@include transform( rotate(90deg) );
				}

				path {
					fill: $color__text-dark;
				}
			}

			.ordering-dropdown-container {
				left: -1px;
				min-height: 1px;
				position: absolute;
				right: -1px;
				top: 100%;
				z-index: 999;
			}

			.ordering-dropdown {
				background: white;
				border: 1px solid $color__background-hr-dark;
				box-shadow: 0 1px 1px rgba(0,0,0,0.07);
				display: block;
				list-style: none;
				margin: 0;
				opacity: 0;
				padding: 5px 0;
				position: absolute;
				top: 0;
				visibility: hidden;
				width: 100%;

				li {
					color: $color__text-light;
					cursor: pointer;
					padding: 15px 25px;
					position: relative;
					white-space: nowrap;

					&:hover {
						color: $color__text-dark;
					}
				}

				opacity: 0;
				@include transition (all 0.15s ease-in);
				@include transform-origin(center top);
				@include transform( scale(0.95) );

			}

			&:hover {
				.ordering-dropdown {
					opacity: 1;
					visibility: visible;
					@include transform( scale(1) );
				}
			}
		}
	}

	.woocommerce-result-count {
		color: $color__text-medium;
		font-size: 13px;
	}

	ul.products {
		li.product {
			margin: 0 0 25px 0;
			width: 100%;

			&.first {
				margin: 0 0 25px 0;
			}

			&.last {
				margin: 0 0 25px 1%;
			}

			@media ( min-width: 321px ) {
				margin: 0 1% 35px 1%;
				width: 31.333%;

				&.first {
					margin: 0 2% 35px 0;
				}

				&.last {
					margin: 0 0 35px 2%;
				}
			}

			span.onsale {
				background-color: $color__primary-accent;
				border-radius: 0;
				font-size: 11px;
				left: 0;
				right: auto;
				line-height: normal;
				min-height: 0;
				padding: 5px 13px;
				text-transform: uppercase;
				top: 5px;
				z-index: 10;
			}

			a img {
				margin-bottom: 0;
			}

			h3 {
				text-align: center;
			}

			.price {
				color: $color__primary-accent;
				text-align: center;

				del {
					color: $color__text-light;
					display: inline;
				}

				ins {
					color: $color__primary-accent;
					display: inline;
				}
			}

			.loop-product-thumbnail {
				position: relative;
				background: $color__primary-accent-dark;

				&:hover {
					img {
						opacity: 0.25;
					}

					.add_to_cart_button,
					.product-quick-view-button {
						opacity: 1;
						visibility: visible;
					}
				}

				.add_to_cart_button,
				.product-quick-view-button {
					border-radius: 0;
					font-size: 12px;
					left: 50%;
					margin: 0;
					opacity: 0;
					padding: 12px 15px;
					position: absolute;
					visibility: hidden;
					@include transform( translateX( -50% ) );
				}

				.add_to_cart_button {
					background: #fff;
					border: 2px solid #fff;
					bottom: 20%;
					color: $color__text-dark;

					&:hover {
						border: 2px solid $color__text-dark;
					}
				}

				.product-quick-view-button {
					background: transparent;
					border: 2px solid #fff;
					color: #fff;
					top: 20%;

					&:hover {
						background: #fff;
						color: $color__text-dark;
					}
				}
			}
		}
	}
}
