.woocommerce {

	.woocommerce-ordering {
		cursor: pointer;
		margin-bottom: 40px;

		@media (max-width: 680px) {
			float: left;
			margin-bottom: 35px;
		}

		.ordering-selector-wrapper {
			border: 1px solid $color__background-hr-dark;
			box-sizing: border-box;
			color: $color__text-medium;
			display: block;
			font-size: 0.85em;
			line-height: 1em;
			padding: 10px;
			position: relative;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;

			.current {
				display: inline-block;
			}

			svg {
				float: right;
				margin: 0 -3px 0 10px;
				@include transform(rotate(-90deg));
				@include transition(all 0.15s ease-in);

				path {
					fill: $color__text-medium;
				}
			}

			&:hover {
				color: $color__text-dark;

				svg {
					@include transform(rotate(0deg));
					path {
						fill: $color__text-dark;
					}
				}
			}

			.ordering-dropdown-container {
				left: -1px;
				min-height: 1px;
				position: absolute;
				right: -1px;
				top: 100%;
				z-index: 999;
			}

			.ordering-dropdown {
				background: white;
				border: 1px solid $color__background-hr-dark;
				box-shadow: 0 1px 1px rgba(0,0,0,0.07);
				display: block;
				list-style: none;
				margin: 0;
				opacity: 0;
				padding: 5px 0;
				position: absolute;
				top: 0;
				visibility: hidden;
				width: 100%;

				li {
					color: $color__text-light;
					cursor: pointer;
					padding: 15px 25px;
					position: relative;
					white-space: nowrap;

					&:hover {
						color: $color__text-dark;
					}
				}

				opacity: 0;
				@include transition (all 0.15s ease-in);
				@include transform-origin(center top);
				@include transform( scale(0.95) );

			}

			&:hover {

				.ordering-dropdown {
					opacity: 1;
					visibility: visible;
					@include transform( scale(1) );
				}
			}
		}
	}

	.woocommerce-result-count {
		color: $color__text-medium;
		font-size: 14px;

		@media (max-width: 680px) {
			margin-bottom: 40px;
			width: 100%;
		}
	}

	ul.products {

		li.product {
			margin: 0 1.75% 27px;
			width: 31%;

			&:nth-of-type(3n+1) {
				margin-left: 0;
			}

			&:nth-of-type(3n+3) {
				margin-right: 0;
			}

			@media (max-width: 768px) {
				clear: none;
				float: left;

				&:nth-child(2n) {
					float: left;
				}
			}

			@media (max-width: 480px) {
				margin: 0 0 27px;
				width: 100%;
			}

			span.onsale {
				background-color: $color__primary-accent;
				border-radius: 0;
				font-family: $font__details;
				font-size: 12px;
				left: 0;
				right: auto;
				line-height: normal;
				min-height: 0;
				padding: 6px 12px;
				text-transform: uppercase;
				top: 6px;
				z-index: 10;
			}

			a img {
				margin-bottom: 0;
			}

			h3 {
				font-size: 14px;
				padding: 17px 0 0;
				text-align: center;

				&:hover {
					color: $color__text-medium;
				}
			}

			.price {
				color: $color__primary-accent;
				text-align: center;

				del {
					color: $color__text-light;
					display: inline;
				}

				ins {
					color: $color__primary-accent;
					display: inline;
				}
			}

			.loop-product-thumbnail {
				position: relative;
				background: $color__primary-accent-dark;

				&:hover {

					img {
						opacity: 0.25;
					}

					.add_to_cart_button,
					.product-quick-view-button {
						opacity: 1;
						visibility: visible;
					}
				}

				.add_to_cart_button,
				.product-quick-view-button {
					border-radius: 0;
					font-size: 13px;
					left: 50%;
					margin: 0;
					opacity: 0;
					padding: 12px 15px;
					position: absolute;
					@include transform( translateX( -50% ) );
					visibility: hidden;
				}

				.add_to_cart_button {
					background: #fff;
					border: 2px solid #fff;
					bottom: 30%;
					color: $color__text-dark;

					&:hover {
						border: 2px solid $color__text-dark;
					}

					&.loading {

						&:after {
							margin-left: .53em;
							position: relative;
							right: 0;
							top: 0;
						}
					}
				}

				.product-quick-view-button {
					background: transparent;
					border: 2px solid #fff;
					color: #fff;
					top: 30%;

					&:hover {
						background: #fff;
						color: $color__text-dark;
					}
				}

				a.added_to_cart {
					background: #fff;
					border: 2px solid #fff;
					border-bottom: 0;
					bottom: 0;
					box-sizing: border-box;
					color: $color__text-medium;
					font-family: $font__details;
					font-size: 13px;
					left: 50%;
					letter-spacing: 1px;
					line-height: normal;
					margin: 0;
					padding: 12px 15px;
					position: absolute;
					@include transform( translateX( -50% ) );
					text-transform: uppercase;

					&:hover {
						border: 2px solid $color__text-dark;
						border-bottom: 0;
					}
				}
			}
		}
	}

	.woocommerce-pagination {

		.page-numbers {
			border: none;

			li {
				border: none;
				margin-right: 5px;

				a,
				span {
					background: #fff;
					border: 1px solid $color__border-button;
					color: $color__text-medium;
					font-size: 13px;
					margin-right: 1px;
					padding: 9px 11px 8px;

					&:hover {
						background: $color__primary-accent;
						border-color: $color__primary-accent;
						color: #fff;
					}
				}

				.current {
					background: $color__primary-accent;
					border: 1px solid $color__primary-accent;
					color: #fff;

					&:hover {
						background: $color__primary-accent;
						color: #fff;
					}
				}

				.current {
					background: $color__primary-accent;
					border-color: $color__primary-accent;
					color: #fff;
				}

				.next,
				.prev {
					font-family: Verdana, Geneva, sans-serif;
					padding: 9px 9px 8px;
				}
			}
		}
	}

	&.archive {

		.page-title {
			font-size: 24px;
			padding: 40px 0;
		}
	}
}
