.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
	padding: 1em 1.923em;
}

.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce.single-product .cart button,
.woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order .button {
	background-color: $color__primary-accent;
	border: 1px solid $color__primary-accent;
	color: #fff;
	
	&:hover {
		background-color: $color__primary-accent-dark;
		border-color: $color__primary-accent-dark;
		color: #fff;
	}

	&:active,
	&:focus {
		border-color: $color__primary-accent;
		color: #fff;
	}	
}