.woocommerce.woocommerce-page #respond input#submit.alt.disabled,
.woocommerce.woocommerce-page #respond input#submit.alt:disabled,
.woocommerce.woocommerce-page #respond input#submit.alt:disabled[disabled],
.woocommerce.woocommerce-page a.button.alt.disabled,
.woocommerce.woocommerce-page a.button.alt:disabled,
.woocommerce.woocommerce-page a.button.alt:disabled[disabled],
.woocommerce.woocommerce-page button.button.alt.disabled,
.woocommerce.woocommerce-page button.button.alt:disabled,
.woocommerce.woocommerce-page button.button.alt:disabled[disabled],
.woocommerce.woocommerce-page input.button.alt.disabled,
.woocommerce.woocommerce-page input.button.alt:disabled,
.woocommerce.woocommerce-page input.button.alt:disabled[disabled] {
	background-color: $color__primary-accent;
	border: 1px solid $color__primary-accent;
	color: #fff;
	padding: 12.5px 1.666rem;

	&:hover {
		color: #fff;
	}
}

.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce .button.button.alt,
.woocommerce .actions .button,
.woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order .button {
	background-color: $color__primary-accent;
	border: 1px solid $color__primary-accent;
	color: #fff;

	&:hover {
		background-color: $color__primary-accent-dark;
		border-color: $color__primary-accent-dark;
		color: #fff;
	}

	&:active,
	&:focus {
		background-color: $color__primary-accent-dark;
		border-color: $color__primary-accent-dark;
		color: #fff;
	}
}
