.woocommerce-cart {

	.woocommerce-message,
	.woocommerce-info {
		border-top: none;

		&:before {
			color: $color__primary-accent;
		}
	}

	form {
	
		table.shop_table {
			border-radius: 0;
			padding: 2em;
			

			@media screen and (max-width: 768px) {
				padding: 1em;
			}

			// Styling quantity field.
			.quantity.button-controls {
				@include clearfix;

				.qty {
					-moz-appearance: textfield;
				    border-color: $color__text-light;
					border-radius: 0;
					border-width: 1px;
					color: $color__text-medium;
					float: left;
					height: 26px;
					padding: 0;
					width: 2em;
					
					&::-webkit-inner-spin-button,
					&::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
				}

				.add,
				.subtract {
					border-radius: 0;
					border-color: $color__text-light;
					border-width: 1px;
					background: #f9f9f9;
					float: left;
					padding: 6px 10px;

					&:hover {
						background: darken( #f9f9f9, 20%);
					}
				}

				.subtract {
					border-right: none;
				}

				.add {
					border-left: none;
				}
			}

			thead {

				th {
					font-size: 0.85em;
					font-weight: normal;
					text-transform: uppercase;
				}
			}

			tr {
				background: none;
			}

			.product-remove {
				width: 30px;

				a {
					color: $color__text-light !important;
					font-weight: 100;

					&:hover,
					&:focus {
						background: transparent;
						color: darken( $color__text-light, 25% ) !important;
					}
				}
			}

			.product-thumbnail {
				width:85px;
				padding: 6px 0;

				a {
					vertical-align: middle;
					
					img {
						width: auto;
					}
				}

				@media screen and (max-width: 768px) {
					display: none;
				}
			}

			.product-name {

				a {
					color: $color__text-dark;
					font-weight: bold;
					text-decoration: none;

					&:hover {
						color: $color__primary-accent;
					}
				}
			}

			.product-price {
				width: 150px;
				
				.amount{
					font-weight: bold;
				}

				@media screen and (max-width: 768px) {
					display: none;
				}
			}

			.product-quantity {
				width: 150px;

				@media screen and (max-width: 768px) {
					width: 60px;
				}
			}

			@media screen and (max-width: 768px) {

				.add,
				.subtract {
					display: none;
				}
			}

			.product-subtotal {
				width: 150px;
				
				.amount{
					font-weight: bold;
				}

				@media screen and (max-width: 768px) {
					width: 60px;
				}
			}

			td.actions {
				padding: 2em 0 0 0;

				input.button {
					background-color: $color__primary-accent;
					color: #fff;
					border-radius: 0;

					&:hover {
						background-color: $color__primary-accent;
					}

					@media screen and (max-width: 768px) {
						width: 100% !important;
					}
				}

				.coupon {

					input.input-text {
						border-radius: 0;
						height: 36px;
						width: 200px !important;

						@media screen and (max-width: 768px) {
							margin-bottom: 10px;
							width: 100% !important;
						}
					}
				}
			}
		}
	}

	.cart-collaterals {

		.cart_totals {
			float: none;
			width: 100%;

			table {
				border: none;

				tr {

					th {
						border-top: none;
						border-bottom: 1px solid $color__background-hr;
						padding-left: 0;
						width: 150px;
					}

					td {
						border-top: none;
						border-bottom: 1px solid $color__background-hr;
						padding-right: 0;
						text-align: right;
					}

					&.shipping {

						p {
							margin-top: 0.25em;
							margin-bottom: 0;

							a {
								text-decoration: none;
							}
						}

						.shipping-calculator-form {

							.shipping-calculator-button {
								color: $color__primary-accent;

								&:hover {
									color: $color__primary-accent;
								}
							}

							.button {
								background-color: $color__primary-accent;
								border-radius: 0;
								color: #fff;
								
								&:hover {
									background-color: $color__primary-accent;
								}

								@media screen and (max-width: 768px) {
									width: 100% !important;
								}
							}
						}
					}
				}
			}
		}
	}

	.wc-proceed-to-checkout {

		a.checkout-button {
			background-color: $color__primary-accent;
			border-radius: 0;
			color: #fff;
			display: inline-block;
			float: right;
			font-size: 1em;

			&:hover {
				background-color: $color__primary-accent;
			}

			@media screen and (max-width: 768px) {
				margin-bottom: 10px;
				width: 100%;
			}
		}
	}
}
