.woocommerce-cart {

	.entry-title {
		font-size: 24px;
	}

	.woocommerce-message,
	.woocommerce-info {
		border-top: none;

		&:before {
			color: $color__primary-accent;
		}
	}

	table.shop_table {
		border-radius: 0;
		font-family: $font__main;
		padding: 15px 30px;

		@media (max-width: 768px) {
			padding: 1em;
		}

		tr {
			background: none;
		}

		td {
			padding: 0;
		}

		thead {
			font-family: $font__details;
			font-size: 12px;

			th {
				font-size: 12px;
				padding-left: 0;
			}
		}

		tbody {

			td {
				color: $color__text-dark;
				font-size: 14px;
				font-weight: 700;
			}

			.product-remove {
				padding-left: 10px;
				width: 30px;

				a {
					color: $color__text-light !important;
					font-weight: 100;

					&:hover,
					&:focus {
						background: transparent;
						color: darken( $color__text-light, 25% ) !important;
					}
				}
			}

			.product-thumbnail {
				line-height: 0;
				padding: 20px;
				width: 116px;

				a {
					display: inline-block;
					line-height: 0;

					img {
						width: 76px;
					}
				}

				@media (max-width: 768px) {
					display: none;
				}
			}

			.product-name {
				font-size: 14px;

				a {
					color: $color__text-dark;
					font-weight: 700;
					text-decoration: none;
				}

				.variation {
					color: $color__text-medium;
				}

				dd {
					margin: 0;
				}
			}

			.product-price {
				width: 150px;

				.amount {
					font-size: 14px;
					font-weight: bold;
				}

				@media screen and (max-width: 768px) {
					display: none;
				}
			}

			// Styling quantity field.
			.quantity.button-controls {
				@include clearfix;

				input {
					height: 32px;
					width: 32px;
				}

				.qty {
					-moz-appearance: textfield;
				    border-color: $color__text-light;
					border-radius: 0;
					border-width: 1px;
					color: $color__text-medium;
					float: left;
					font-family: $font__details;
					padding: 0;
					width: 38px;


					&::-webkit-inner-spin-button,
					&::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
				}

				.add,
				.subtract {
					border-radius: 0;
					border-color: $color__text-light;
					border-width: 1px;
					background: #f9f9f9;
					float: left;
					padding: 0;

					&:hover {
						background: $color__text-medium;
						color: #fff;
					}
				}

				.subtract {
					border-right: none;
				}

				.add {
					border-left: none;
				}
			}

			.product-quantity {
				width: 150px;

				@media screen and (max-width: 768px) {
					width: 60px;
				}
			}

			@media (max-width: 768px) {

				.add,
				.subtract {
					display: none;
				}
			}

			.product-subtotal {
				width: 150px;

				@media screen and (max-width: 768px) {
					width: 60px;
				}
			}

		}

		td.actions {
			padding: 2em 0 0 0;

			input.button {
				background-color: $color__primary-accent;
				border: none;
				color: #fff;

				&:hover {
					background: $color__primary-accent-dark;
				}

				@media (max-width: 768px) {
					width: 100% !important;
				}
			}

			.coupon {

				input.input-text {
					border-radius: 0;
					height: 36px;
					font-size: 13px;
					padding: 18px 15px;
					width: 200px !important;

					@media (max-width: 768px) {
						margin-bottom: 10px;
						width: 100% !important;
					}
				}
			}
		}
	}
}

.woocommerce .cart-collaterals {

	.cart_totals {
		float: none;
		width: 100%;

		h2 {
			font-size: 24px;
			margin-bottom: 5px;
		}

		table {
			border: none;

			tr {

				th {
					border-top-width: 0;
					border-bottom: 1px solid $color__background-hr;
					color: $color__text-dark;
					font-size: 14px;
					line-height: 1;
					margin: 0;
					padding: 20px 0 18px;
					width: 150px;
				}

				td {
					border-top-width: 0;
					border-bottom: 1px solid $color__background-hr;
					line-height: 1;
    				padding: 20px 0 18px;
					text-align: right;
				}

				&.shipping {

					p {
						margin-top: 0.25em;
						margin-bottom: 0;

						a {
							text-decoration: none;
						}
					}

					.shipping-calculator-form {

						.shipping-calculator-button {
							color: $color__primary-accent;

							&:hover {
								color: $color__primary-accent;
							}
						}

						.button {
							background-color: $color__primary-accent;
							border-radius: 0;
							color: #fff;

							&:hover {
								background-color: $color__primary-accent;
							}

							@media screen and (max-width: 768px) {
								width: 100% !important;
							}
						}
					}
				}
			}
		}
	}

	.wc-proceed-to-checkout {
		padding: 24px 0;

		a.checkout-button {
			float: right;
			font-size: 1em;

			@media screen and (max-width: 768px) {
				margin-bottom: 10px;
				width: 100%;
			}
		}
	}
}

.main-navigation {
	.shopping-cart {
		bottom: 15px;
		display: inline-block;
		line-height: 1;
		position: relative;

		> li {
			padding: 0;
		}

		.shopping-cart-link {
			line-height: 1;
			position: relative;

			.shopping-cart-text {
				display: none;
			}

			.shopping-cart-count {
				background: $color__primary-accent;
				border-radius: 9px;
				color: #fff;
				font-size: 9px;
				padding: 4px 5px;
				position: absolute;
				right: -10px;
				top: 0;
			}

			.svg-icon-cart {
				path {
					fill: $color__text-medium;
				}
			}
		}

		.shopping-cart-dropdown {
			top: 36px;
			width: 300px;

			.mini_cart_item a {
				white-space: normal;
			}
		}
	}
}

.widget_shopping_cart_content {
	padding: 20px;

	.cart_list{
		.empty {
			margin: 15px 15px;
		}

		.mini_cart_item {
			box-sizing: border-box;
			margin: 0 0 15px 0;
			position: relative;

			a {
				margin: 0;
				padding: 0 0 15px 0 !important;;
			}

			.mini_cart_img {
				width: 64px;

				img {
					vertical-align: middle;
				}
			}

			.mini_cart_details {
				margin-left: 80px;
				position: absolute;
				top: 0;

				.mini_cart_product {
					color: $color__text-dark;
					line-height: 1.5em;
					margin: 0 0 7px 0;
				}

				.mini_cart_cost {
					margin: 0;

					.amount {
						color: $color__primary-accent;
					}
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.total {
		border-top: none !important;
		font-size: 13px;
		margin: 10px 0 0 0;
		padding: 5px 0 !important;

		strong {
			font-weight: normal;
		}

		span {
			font-weight: bold;
		}
	}

	.buttons {
		margin: 10px 0 0 0;
		padding-top: 0;
		text-align: center;
		text-transform: uppercase;

		a {
			@include transition(0.085s);
			border-radius: 0px;
			font-family: $font__headings;
			font-size: 12px;
			font-weight: normal;
			line-height: 1;
			min-width: inherit;
			padding: 10px;
			text-decoration: none;
			text-shadow: none;
			text-transform: uppercase;
			width: 49%;

			&.mini_cart_view {
				background: transparent;
				border: 2px solid #dadada;
				color: $color__text-dark;
			}

			&.mini_cart_checkout {
				background: $color__primary-accent;
				border: 1px solid $color__primary-accent;
				color: #fff;
			}

			&:hover {
				background: $color__primary-accent-dark;
				border-color: $color__primary-accent-dark;
				color: #fff;
			}
		}
	}
}
