.woocommerce-checkout .entry-title {
	font-size: 24px;
}

.woocommerce {

	form.login,
	form.checkout_coupon {
		border-color: $color__background-hr;
		border-radius: 0;
		font-size: 14px;
		margin: 0.5em 0;
		padding: 30px;

		p {
			margin-bottom: 24px;
		}

		label {
			color: $color__text-dark;
		}

		input.input-text {
			border-radius: 0;
			line-height: $font__line-height-body;
			padding: 6px 15px;
		}

		input.button {
			background-color: $color__primary-accent;
			border-radius: 0;
			color: #fff;
			margin-right: 1.2em;

			&:hover {
				background-color: $color__primary-accent;
			}
		}

		a {
			text-decoration: none;
		}
	}

	.checkout_coupon {

		.form-row-first,
		.form-row-last {
			float: left;
			padding-right: 5px;
			width: 25%;

			@media (max-width: 768px) {
				width: 50%;
			}
		}

		.form-row-last {
			width: 60%;

			@media (max-width: 768px) {
				width: 50%;
			}
		}

		.button {
			padding: 12px 25px;
		}
	}

	.woocommerce-checkout {

		.checkout-details {
			float: left;
			margin-top: 51px;
			width: 48.6842%;

			@media (max-width: 768px) {
				float: none;
				width: 100%;
			}

			h3 {
				font-size: 24px;
				margin: 0 0 6px;

				label {
					font-size: 13px;
				}
			}

			.form-row {
				margin: 0 0 4px;

				label {
					color: $color__text-dark;
					font-size: 13px;
					margin: 13px 0 1px;

					abbr {
						color: inherit;
					}
				}

				input.input-text,
				textarea.input-text {
					font-size: 13px;
					padding: 11px 13px 10px;
				}

				textarea.input-text {
					min-height: 90px;
				}

				[class*="_select"] {
					font-size: 13px;

					a {
						border-color: $color__background-hr-dark;
					}
				}

				&.woocommerce-validated input.input-text {
					border-color: $color__primary-accent;
				}
			}
		}

		.woocommerce-shipping-fields {
			margin-bottom: 30px;
		}

		.order-details {
			border: 1px solid $color__background-hr;
			float: right;
			margin-top: 30px;
			padding: 30px;
			width: 48.6842%;

			@media screen and (max-width: 768px) {
				float: none;
				width: 100%;
			}

			h3 {
				font-size: 24px;
				line-height: 1;
				margin: 0 0 20px;
			}

			.woocommerce-checkout-review-order {
				color: $color__text-dark;
				font-size: 14px;

				.woocommerce-checkout-review-order-table {
					border: none;
					border-bottom: 1px solid $color__background-hr;
					font-family: $font__main;
					margin-bottom: 0;

					.product-name {
						width: 70%;
					}

					.product-total {
						text-align: right;
						width: 30%;
					}

					tr {
						background: none;
					}

					td {
						border-top: 1px solid $color__background-hr;
					}

					thead tr th {
						padding: 10px 0 15px;
					}

					tbody tr td {
						padding: 16px 0 14px;

						dl {
							margin: 0;
						}

						dd {
							margin: 0;
						}
					}

					tfoot {

						th {
							border-top: 1px solid $color__background-hr;
							padding: 16px 0 14px;
						}


						td {
							padding: 16px 0 14px;
							text-align: right;
						}
					}
				}

				#payment {
					background: none;

					.payment_methods {
						border-bottom: none;
						padding: 1em 0;

						li:not(.woocommerce-notice) {
							border-bottom: 1px solid $color__background-hr;
							padding: 11px 0;
							position: relative;
						}

						label {
							font-size: 13px;
							font-weight: bold;
						}

						.payment_box {
							background-color: transparent;
							margin: 0;
							padding-right: 0;
							padding-left: 0;

							&:before {
								border: none;
							}

							p:first-child {
								margin-top: 0;
							}
						}

						.payment_method_paypal {

							label .about_paypal {
								font-weight: normal;
							}
						}

						.payment_method_stripe {

							input {
								top: 12px !important;
							}

							@media (max-width: 480px) {

								.form-row {
									width: 100%;
								}
							}
						}
					}

					.place-order {
						padding-right: 0;
						padding-left: 0;
					}

					.woocommerce-terms-and-conditions-wrapper {

						p {
							margin-bottom: 14px;

							&.validate-required {
								margin-bottom: 0;
							}
						}
					}

					#place_order {
						float: right;
						font-size: 16px;
						margin-top: 30px;
					}
				}
			}
		}
	}
}
