.woocommerce-page #container {
	float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;

	@at-root .shop-sidebar-right#{&} {
		float: left;
		margin: 0 (-$size__site-sidebar) 0 0;
	}

	@at-root .no-active-wc-sidebar#{&} {
		float: none;
		margin: 0;
		width: auto;
	}

	@media (max-width: 768px) {
		float: none;
		margin: 0;
		width: auto;
	}
}

.woocommerce-page .container {

	#content {
		margin: 0 0 0 $size__site-sidebar;

		@at-root .shop-sidebar-right#{&} {
			margin: 0 $size__site-sidebar 0 0;
		}

		@at-root .no-active-wc-sidebar#{&} {
			float: none;
			margin: 0;
			width: auto;
		}

		@media (max-width: 768px) {
			float: none;
			margin: 0;
			width: auto;
		}
	}

	.shop-widgets.widget-area {
		float: left;
		padding: 0 40px 0 0;

		@at-root .shop-sidebar-right#{&} {
			float: right;
			padding: 0 0 0 40px;
		}
	}
}

.woocommerce-page.single-product {

	.site-main {
		float: none;
		margin: 0;
		width: auto;
	}
}

.woocommerce-store-notice,
p.demo_store {
	background: $color__primary-accent;
	box-shadow: none;
	color: #fff;
	font-size: 13px;
	line-height: 1; 
	padding: 20px;
	position: relative;
	text-align: center;
	top: 0;

	.woocommerce-store-notice__dismiss-link {
		color: #fff; 
		text-decoration: underline;
	}

	&:after {
		bottom: -14px;
 		box-shadow: rgba(0, 0, 0, .25) 0 14px 14px -14px inset;
  		content: "";
  		height: 14px;
  		left: 0;
  		position: absolute;
  		width: 100%;
	}	
}

.admin-bar p.demo_store {
	top: 0;
}

.admin-bar p.demo_store {

	@media( max-width: 782px ) {
		top: 46px !important;
	}

	@media( max-width: 480px ) {
		top: 0 !important;
	}
}

@media( max-width: 480px ) {

	.woocommerce-demo-store #page {
		margin-top: 0;
	}
}
