.woocommerce-page #container {
	float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;

	@at-root .no-active-wc-sidebar.woocommerce-page #container {
		float: none;
		margin: 0;
		width: auto;
	}

	@media (max-width: 768px) {
		float: none;
		margin: 0;
		width: auto;
	}
}

.woocommerce-page .container {
	#content {
		float: right;
		margin: 0 0 0 $size__site-sidebar;

		@at-root .no-active-wc-sidebar.woocommerce-page #content {
			float: none;
			margin: 0;
			width: auto;
		}

		@media (max-width: 768px) {
			float: none;
			margin: 0;
			width: auto;
		}
	}

	.widget-area {
		float: left;
		padding-left: 0;
		padding-right: 40px;

		@media (max-width: 768px) {
			float: none;
			padding-right: 0;
		}
	}
}

.woocommerce-page.single-product {
	#container {
		float: none;
		margin: 0;
		width: auto;
	}

	.container #content {
		float: none;
		margin: 0;
		width: auto;
	}
}

.woocommerce-demo-store #page {
	margin-top: 57px;
}

@media( max-width: 480px ) {
	.admin-bar p.demo_store {
		top: 0 !important;
	}

	.woocommerce-demo-store #page {
		margin-top: 0;
	}
}