.woocommerce-page #container {
	float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;

	@at-root .no-active-wc-sidebar.woocommerce-page #container {
		float: none;
		margin: 0;
		width: auto;
	}

	@media (max-width: 768px) {
		float: none;
		margin: 0;
		width: auto;
	}

	@at-root .shop-sidebar-right#{&} {
		float: left;
		margin: 0 (-$size__site-sidebar) 0 0;
	}
}

.woocommerce-page .container {

	#content {
		float: right;
		margin: 0 0 0 $size__site-sidebar;

		@at-root .no-active-wc-sidebar.woocommerce-page #content {
			float: none;
			margin: 0;
			width: auto;
		}

		@media (max-width: 768px) {
			float: none;
			margin: 0;
			width: auto;
		}
	}

	.shop-widgets.widget-area {
		float: left;
		padding: 0 40px 0 0;
	}

	@at-root .shop-sidebar-right#{&} {
		#content {
			float: left;
			margin: 0 $size__site-sidebar 0 0;
		}

		.shop-widgets.widget-area {
			float: right;
			padding: 0 0 0 40px;
		}
	}
}

.woocommerce-page.single-product {

	#container {
		float: none;
		margin: 0;
		width: auto;
	}

	.container #content {
		float: none;
		margin: 0;
		width: auto;
	}
}

.woocommerce-demo-store #page {
	margin-top: 57px;
}


.admin-bar p.demo_store {

	@media( max-width: 782px ) {
		top: 46px !important;
	}

	@media( max-width: 480px ) {
		top: 0 !important;
	}
}

@media( max-width: 480px ) {

	.woocommerce-demo-store #page {
		margin-top: 0;
	}
}
