.woocommerce.single-product #content div.product {

	.entry-summary {
		margin-top: 0;

		.product_title {
			text-align: left;
			font-size: 1.3em;
		}

		.price {
			font-size: 1.3em;
			margin-bottom: 1em;

			del,
			del .amount {
				color: $color__text-light;
			}

			.amount,
			ins {
				color: $color__primary-accent;
			}
		}

		p {
			color: $color__text-medium;
			font-size: 0.85em;
			line-height: 1.75em;
		}

		.cart {
			button {
				text-transform: uppercase;
				font-size: 0.85em;
				background-color: $color__primary-accent;
				border-radius: 0;

				&:hover {
					background-color: $color__primary-accent-dark;
				}
			}
		}
	}
}
