.woocommerce.single-product #content div.product {

	span.onsale {
		background-color: $color__primary-accent;
		border-radius: 0;
		left: 4px;
		line-height: normal;
		min-height: 0;
		padding: 6px 15px;
		text-transform: uppercase;
		top: 4px;
		z-index: 10;
	}

	.entry-summary {
		margin-top: 0;

		.product_title {
			font-size: 30px;
			text-align: left;
			margin: 20px 0;
		}

		.woocommerce-product-rating {
			margin-bottom: 0;
		}

		.price {
			font-size: 20px;
			margin-bottom: 15px;

			del,
			del .amount {
				color: $color__text-light;
			}

			.amount,
			ins {
				color: $color__primary-accent;
			}
		}

		.description p {
			color: $color__text-medium;
		}

		.cart {
			border-bottom: 1px solid $color__background-hr;
			margin-bottom: 0;
			padding-bottom: 30px;

			button {
				background-color: $color__primary-accent;
				border-radius: 0;
				font-size: 14px;
				margin-left: 15px;
				padding: 13px 20px;
				text-transform: uppercase;

				&:hover {
					background-color: $color__primary-accent-dark;
				}
			}

			.quantity.button-controls {
				@include clearfix;

				.qty {
					-moz-appearance: textfield;
					border-color: $color__text-light;
					border-radius: 0;
					border-width: 1px;
					color: $color__text-medium;
					float: left;
					height: 40px;
					padding: 0;
					width: 40px;

					&::-webkit-inner-spin-button,
					&::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
				}

				.add,
				.subtract {
					background: #f9f9f9;
					border-color: $color__text-light;
					border-radius: 0;
					border-width: 1px;
					float: left;
					height: 40px;
					padding: 6px 10px;
					width: 40px;

					&:hover {
						background: darken( #f9f9f9, 20%);
					}
				}

				.subtract {
					border-right: none;
				}

				.add {
					border-left: none;
				}
			}
		}

		.product_meta {
			border-bottom: 1px solid $color__background-hr;
			padding: 30px 0;

			span {
				color: $color__text-light;
				display: block;

				a {
					color: $color__text-dark;
				}
			}
		}
	}

	.images {
		.product-images-slider {
			margin-bottom: 20px;
		}

		.product-images-carousel {
			border: 0;
			padding: 0 30px;

			.slide {
				cursor: pointer;
				opacity : 0.7;

				&.flex-active-slide {
					cursor: default;
					opacity: 1;
				}
			}

			.flex-direction-nav a {
				height: 30px;
				margin: -20px 0 0;
				width: 28px;

				&:before {
					font-size: 15px;
					padding: 3px 10px;
				}
			}
		}
	}
}
