// Styling the Quick View button.
a.product-quick-view-button {
	margin-right: 1px;
}

// Styling the Quick View modal.
#quick-view-container {
	background: rgba(0,0,0,.5);
	bottom: 0;
	display: none;
	height: 100vh;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99999;

	.quick-view {
		background: white;
		bottom: 0;
		display: inline-block;
		height: 500px;
		left: 0;
		margin: auto;
		max-width: 1040px;
		min-width: 300px;
		overflow: auto;
		position: absolute;
		right: 0;
		top: 0;
		vertical-align: middle;
		width: 100%;

		@media (max-width: 1100px) {
			width: 85%;
		}
	}

	.quickview-close-icon {
		color: rgba(0, 0, 0, 0.5);
		cursor: pointer;
		font-size: 30px;
		line-height: 0.5;
		position: absolute;
		right: 20px;
		top: 20px;
		@include transform( rotate(45deg) );
	}

	.product-content-wrapper {

		.flexslider {
			border: none;
			border-radius: 0;
			margin: 0;
			max-height: 500px;
			overflow-y: hidden;
			
			img {
				max-height: 500px;
			}
		}

		.product-image-wrapper {
			float: left;
			max-height: 500px;
			overflow-y: hidden;
			width: 50%;

			@media (max-width: 600px) {
				float: none;
				max-height: auto;
				overflow-y: auto;
				width: 100%;
			}

			img {
				vertical-align: middle;
			}

			.flex-direction-nav {

				@media (max-width: 860px) {

					.flex-prev {
						left: 0;
					}

					.flex-next {
						right: 0;
					}
				}

				li {
					padding: 0;
				}

				a {
					height: 50px;
					margin-top: -25px;
					top: 49.166%;
					width: 40px;

					&:before {
						background: none;
						content: "";
						height: 50px;
						opacity: 0;
						padding: 0;
						width: 40px;
					}

					&.flex-prev:before {
						background-color: rgba(0, 0, 0, .4);
						background-image: url('images/arrow-left.svg');
						background-position: 13px 16px;
						background-repeat: no-repeat;
						opacity: 1;
					}

					&.flex-next:before {
						background-color: rgba(0, 0, 0, .4);
						background-image: url('images/arrow-right.svg');
						background-position: 16px 16px;
						background-repeat: no-repeat;
						opacity: 1;
					}
				}
			}

			.flex-direction-nav .flex-prev:hover,
			.flex-direction-nav .flex-next:hover {
				background: transparent !important;
			}
		}

		.product-info-wrapper {
			float: right;
			max-height: 500px;
			overflow-y: auto;
			padding: 20px;
			position: relative;
			width: 50%;

			@media (max-width: 600px) {
				float: none;
				max-height: auto;
				overflow-y: auto;
				width: 100%;
			}

			a {
				text-decoration: none;
			}

			.product_title {
				margin-bottom: 10px;
				text-align: left;
			}

			.price {
				color: $color__primary-accent;
				font-family: $font__details;
				font-size: 20px;
				margin: 15px 0;

				del {
					opacity: 0.5;
				}

				ins {
					background: none;
				}
			}

			.price {
				font-size: 20px;
				margin-bottom: 15px;

				del,
				del .amount {
					color: $color__text-light;
				}

				.amount,
				ins {
					color: $color__primary-accent;
				}
			}

			.woocommerce-product-rating {
				margin-bottom: 20px;

				.woocommerce .star-rating {
					font-size: 14px;
				}

				.woocommerce-review-link {
					color: $color__text-light;
					font-size: 13px;

					&:hover {
						color: $color__primary-accent;
					}
				}
			}

			.out-of-stock {
				color: $color__primary-accent;
			}

			.cart {
				padding-bottom: 20px;

				.quantity {
					display: inline-block;
					float: left;
					margin: -1px 6px 0 0;

					input {
						padding: 5px 6px;
					}
				}
			}

			.quantity.button-controls {
				@include clearfix;

				.qty {
					-moz-appearance: textfield;
					border-color: $color__text-light;
					border-radius: 0;
					border-width: 1px;
					color: $color__text-medium;
					float: left;
					height: 40px;
					padding: 0;
					text-align: center;
					width: 40px;

					&::-webkit-inner-spin-button,
					&::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
				}

				.add,
				.subtract {
					background: #f9f9f9;
					border-color: $color__text-light;
					border-radius: 0;
					border-width: 1px;
					float: left;
					height: 40px;
					padding: 6px 10px;
					width: 40px;

					&:hover {
						background: darken( #f9f9f9, 20%);
						color: $color__text-medium;
					}
				}

				.subtract {
					border-right: none;
				}

				.add {
					border-left: none;
				}
			}

			button {
				background-color: $color__primary-accent;
				border: none;
				border-radius: 0;
				color: #fff;
				font-size: 14px;
				outline: none;
				padding: 13px 20px;
				text-transform: uppercase;

				&:hover {
					background-color: $color__primary-accent-dark;
				}
			}

			.woocommerce-product-rating {
				a {
					display: inline-block;
				}
			}
		}

		.variations {
			border: none;
			margin-bottom: 15px;

			td {
				padding-top: 0;
				padding-bottom: 0;

				&.label {
					font-family: $font__main;
					font-weight: 700;
					padding: 0;
					vertical-align: top;
				}

				select {
					max-width: 100%;
					min-width: 75%;
				}

				.reset_variations {
					font-size: 12px;
					margin-left: 10px;
				}
			}
		}

		.single_variation_wrap {

			.woocommerce-variation-price {
				margin: 15px 0;
			}
		}

		.group_table {
			border-width: 0 0 1px;
			display: block;
			padding-bottom: 30px;

			tr:nth-child(2n+2) {
				background: transparent;
			}

			td {
				padding: 18px 22px 7.5px 0;
			}

			td:first-child {
				width: auto !important;
			}
		}
	}
}
