.woocommerce {

	.widget-area#secondary {

		// Pricing filter.
		.widget_price_filter {
			
			.ui-slider {
				background-color: $color__background-hr;
				margin: 0 0 25px 0;

				.ui-slider-range,
				.ui-slider-handle {
					background-color: $color__primary-accent;
				}

				.ui-slider-handle {
					border-radius: 0;
					height: 16px;
					margin: 0;
					top: -6px;
					width: 10px;
				}
			}

			.ui-widget-content {
				border-radius: 0;
			}

			.ui-slider-horizontal {
				height: 3px;
			}

			.price_slider_amount {
				text-align: left;

				.price_label {
					font-weight: light;

					span {
						font-weight: bold;
					}
				}

				.button {
					background: transparent;
					border-radius: 0;
					border: 1px solid $color__background-hr;
					color: $color__text-medium;
					font-weight: normal;
					float: right;

					&:hover {
						border-color: $color__primary-accent-dark;
						box-shadow: none;
						color: $color__primary-accent-dark;
					}
				}
			}
		}

		// Product Tag Cloud.
		.widget_product_tag_cloud {
			
			a {
				border: 1px solid $color__background-hr;
				color: $color__text-medium;
				display: inline-block;
				font-size: 15px;
				line-height: normal;
				margin: 0 7px 10px 0;
				padding: 8px 10px;
				text-decoration: none;

				&:hover {
					background: $color__primary-accent;
					border-color: $color__primary-accent;
					color: #fff !important;
				}
			}
		}

		// Products and Review Widget.
		.widget_products,
		.widget_recent_reviews,
		.widget_top_rated_products {
			.product_list_widget {

				li {
					padding-bottom: 25px;
					padding-top: 0;
					border-bottom: none;

					img {
						float: left;
						margin-left: 0;
						margin-right: 20px;
						width: 70px;
					}

					.product-title {
						display: inline-block;
						padding: 10px 0;
					}

					.amount {
						color: $color__primary-accent;
						display: inline;
					}

					ins {
						background: transparent;
					}

					del {
						color: $color__text-light;

						.amount {
							color: $color__text-light;
							display: inline;
						}
					}
				}

			}
		}

		// Search Field.
		.widget_product_search {

			.search-form {
				position: relative;

				input[type="search"] {
					box-sizing: border-box;
					max-width: 100%;
					width: 100%;
				}

				button[type="submit"] {
					border: none;
					padding: 7px;
					padding-left: 8px;
					position: absolute;
					right: 15px;
					top: 3px;

					svg {
						fill: $color__text-medium;
						height: 16px;
						width: 16px;
					}
				}
			}
		}

		.widget_shopping_cart {

			li {
				border-bottom: none;
				padding-bottom: 25px;
				padding-top: 0;

				img {
					float: left;
					margin-left: 0;
					margin-right: 20px;
					width: 70px;
				}

				.product-title {
					display: inline-block;
					padding: 10px 0;
				}

				.quantity {
					.amount {
						color: $color__primary-accent;
					}
				}

				.remove {
					color: $color__text-light !important;
					left: auto;
					right: 0;

					&:hover {
						background: transparent;
						color: $color__text-dark !important;
					}
				}
			}

			.total {
				border-top: 1px solid $color__background-hr;
				font-size: 13px;
				margin-bottom: 10px;

				strong {
					font-weight: lighter;
				}
			}

			.buttons {

				.button {
					background: transparent;
					border: 2px solid $color__background-hr-dark;
					border-radius: 0;
					display: inline;
					font-size: 13px;
					font-weight: normal;
					letter-spacing: 0;
					padding: 7px 13px;

					&.checkout {
						background: $color__primary-accent;
						border-color: $color__primary-accent;
						color: #fff;

						&:hover {
							background: $color__primary-accent-dark;
							border-color: $color__primary-accent-dark;
						}
					}
				}
			}
		}

		.widget_layered_nav {

			li {

				a {

					&:before {
						background: transparent;
						color: $color__text-light !important;
					}

					&:hover:before {
						background: transparent;
						color: $color__text-dark !important;
					}
				}
			}
		}

		.widget_layered_nav_filters {

			li {
				border-bottom: none;
				padding: 0;

				a {
					&:before {
						background: transparent;
						color: $color__text-light !important;
					}

					&:hover:before {
						background: transparent;
						color: $color__text-dark !important;
					}
				}
			}
		}


	}
}
