.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comment-list {
	margin: 25px 0;
	padding: 0;

	li.comment {
		width: auto;
		display: block;
		color: $color__text-medium;

		.comment-box {
			padding: 25px 0;
			border-bottom: 1px solid $color__background-hr-dark;
			@include clearfix;
		}

		.comment-container {
			margin-left: 120px;
		}

		&.pingback {
			.comment-container {
				margin-left: 0;
			}
		}

		.avatar-container {
			float: left;

			img {
				display: block;
				border-radius: 50%;
			}
		}

		.comment-reply-link {
			font-weight: bold;
			color: $color__text-dark;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 0.8em;
			line-height: 1em;

			&:hover {
				color: $color__primary-accent-dark;
			}
		}

		.info {
			color: $color__text-meta;
		}

		.author {
			color: $color__text-dark;
			font-weight: bold;
			font-size: 1.1em;

			a {
				color: $color__text-dark;
				text-decoration: none;
			}
		}

		.children {
			margin-left: 70px;
			margin-top: 50px;
			padding: 0;
		}
	}
}

.comments-title, .comment-reply-title {
	font-size: 1em;
	text-transform: uppercase;
}

.comments-title {
	margin-bottom: 0;
}

.comment-reply-title {
	border-bottom: 1px solid $color__background-hr-dark;
	@include font-size(0.9333);
	margin-top: 50px;
	padding-bottom: 15px;
	text-transform: uppercase;
}

#commentform {

	.comment-form-author, 
	.comment-form-email, 
	.comment-form-url {
		display: block;
		float: left;
		width: 33.333%;
		margin: 0 0 20px 0;

		input {
			color: $color__text-medium;
			width: 100%;
			font-size: 0.85em;
			padding: 8px 30px;
			border-radius: 0px;
		}
	}

	.comment-form-comment {
		
		label {
			color: $color__text-dark;
			display: block;
			@include font-size(0.8666);
			line-height: normal;
			margin-bottom: 0.6666em; 
		}

		textarea {
			color: $color__text-medium;
			width: 100%;
			padding: 15px 30px;
			border-radius: 0px;
			display: block;
		}
	}

	.comment-notes, 
	.logged-in-as {
		color: $color__text-meta;
		@include font-size(0.8666);
		margin: 10px 0;
		
		a {
			color: $color__text-main;
			font-family: $font__details;
			text-transform: uppercase;
			text-decoration: none;
		}
		
		&, 
		code {
		}
	}

	.form-submit {
		margin: 2em 0 0 0;
		clear: both;
	}

	input, 
	textarea {
		background-color: #ffffff;

		&:focus {
			background-color: #fcfcfc;
			outline: none;
		}
	}
}
