.comment-content {
	@include font-size(0.9333);
	
	p:last-of-type {
		margin-bottom: .9em; 
	}

	a {
		word-wrap: break-word;
	}
}

.bypostauthor {
	display: block;
}

.comment-list {
	margin: 25px 0;
	padding: 0;

	li.comment {
		width: auto;
		display: block;
		color: $color__text-medium;

		.comment-box {
			padding: 2em 0;
			border-bottom: 1px solid $color__background-hr-dark;
			@include clearfix;
		}

		.comment-container {
			margin-left: 6em;
		}

		&.pingback {
			
			.comment-container {
				margin-left: 0;
			}
		}

		.avatar-container {
			float: left;

			img {
				display: block;
				border-radius: 50%;
			}
		}

		.info {
			line-height: 1.5;
			padding-bottom: .45em;
		}

		.author {
			color: $color__text-dark;
			@include font-size(0.9333);
			font-weight: 700;
			padding-bottom: .6em;

			a {
				color: $color__text-dark;
				text-decoration: none;
				
				&:hover {
					color: $color__text-medium;
				}
			}
		}

		.date {
			color: $color__text-light;
			@include font-size(0.8666);
		}

		.comment-reply-link {
			color: $color__text-dark;
			font-family: $font__details; 
			@include font-size(0.8);
			font-weight: 700; 
			letter-spacing: 1px;
			line-height: normal;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				color: $color__primary-accent;
			}
		}		

		.children {
			margin-left: 70px;
			margin-top: 50px;
			padding: 0;
		}
	}
}

.comments-title, 
.comment-reply-title {
	font-size: 1em;
	text-transform: uppercase;
}

.comments-title {
	margin-bottom: 0;
}

.comment-reply-title {
	border-bottom: 1px solid $color__background-hr-dark;
	@include font-size(0.9333);
	margin-top: 3.8em;
	padding-bottom: 0.8666em;
	text-transform: uppercase;
	
	#cancel-comment-reply-link {
		color: $color__text-light; 
		font-family: $font__details; 
		@include font-size(0.8);
		font-weight: normal;
		letter-spacing: 1px; 
		line-height: normal;
		text-decoration: none;
		margin-left: .25em;
		
		&:hover {
			color: $color__primary-accent;
		}
	}	
}

#commentform {

	p {
		line-height: normal;
		margin-bottom: 2em; 
	}

	label {
		color: $color__text-dark;
		display: block;
		@include font-size(0.8666);
		line-height: normal;
		margin-bottom: .5em; 
	}

	textarea {
		width: 100%;
	}			

	.comment-form-author, 
	.comment-form-email, 
	.comment-form-url {
		box-sizing: border-box;
		float: left;
		width: 31%;

		@media (max-width: 768px) {
			width: 100%;
		}

		input {
			width: 100%;
		}
	}

	.comment-form-email {
		margin: 0 3.5% 2em;
		
		@media (max-width: 768px) {
			margin: 0 0 2em;
		} 
	}

	.comment-notes, 
	.logged-in-as {
		@include font-size(0.8666);
		margin: .66em 0 2.25em;
		
		a {
			color: $color__text-medium;
			text-decoration: none;
			
			&:hover {
				color: $color__text-dark;
			}
		}
	}

	.form-submit {
		margin: 2em 0 20px;
		clear: both;
	}

	.comment-subscription-form {
		margin: 0 0 8px;
		
		label {
			color: $color__text-medium;
		}	
	}
}
