#colophon {
	width: $size__site-main;
	border-top: 1px solid $color__borders;

	.widgets {
		@include clearfix();
		width: 100%;
		overflow: hidden;
		padding: 45px 0;

		.widget-wrapper {
			box-sizing: border-box;
			float: left;
			padding: 0 10px;

			padding-bottom: 9999px;
			margin-bottom: -9999px;
		}

		@for $i from 1 through 10 {
			&.widgets-#{$i} .widget-wrapper{
				width: 100% / $i;
			}
		}

		@media (max-width: 640px) {
			.widget-wrapper {
				float: none;
				width: 100% !important;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}

	.site-info {
		border-top: 1px solid $color__borders;
		text-align: center;
		padding: 25px 0;
		font-size: 0.9em;
		color: $color__text-medium;

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $color__primary-accent-dark;
			}
		}
	}

	&.unconstrained-footer {
		.container {
			max-width: none;
		}
	}
}
