#colophon {
	border-top: 1px solid $color__background-hr-dark;

	.widgets {
		@include clearfix();
		padding: 5em 0;

		.widget {
			box-sizing: content-box;
			margin-right: 2.5%; 
			float: left;
			
			&:last-of-type {
				margin-right: 0 !important; 
			}
			
			@media (max-width: 768px) {
				float: none;
				margin-right: 0; 
			} 
		}

		&.widgets-1 .widget {
			margin-right: 0;
			width: 100%; 
		}		

		&.widgets-2 .widget {
			width: 48.75%; 
		}

		&.widgets-3 .widget {
			width: 31.66%; 
		}		

		@for $i from 1 through 10 {
			$margin: ($i - 1) * 2.5;
			&.widgets-#{$i} .widget {
				width: (100% - $margin) / $i;
			}
		}
	}

	.site-info {
		border-top: 1px solid $color__background-hr-dark;
		color: $color__text-medium;
		@include font-size(0.8666);
		padding: 45px 0;
		text-align: center;

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $color__text-dark;
			}
		}
	}

	&.unconstrained-footer {

		.container {
			max-width: none;
		}
	}
}