#masthead {
	width: $size__site-main;
	border-bottom: 1px solid $color__borders;
	margin-bottom: 50px;

	.top-bar {
		border-bottom: 1px solid $color__borders;
		height: 60px;
		@include clearfix;
	}

	.site-branding {
		margin: 75px 0;

		.site-title {
			font-size: 3em;
			margin: 0;
			text-align: center;
			a {
				text-decoration: none;
				color: inherit;
			}
		}

		.site-description {
			text-align: center;
		}
	}
}
