#masthead {
	width: $size__site-main;
	border-bottom: 1px solid $color__background-hr-dark;
	margin-bottom: 60px; 

	.top-bar {
		border-bottom: 1px solid $color__background-hr-dark;
		height: 60px;
		@include clearfix;
		position: relative;
		background: #fff;
		z-index: 9999;
	}

	.top-bar-sentinel {
		box-sizing: border-box;
	}

	.site-branding {
		margin: 60px 0;

		.site-title {
			font-family: $font__details; 
			font-weight: 300;
			@include font-size(4);
			line-height: normal; 
			margin: 0;
			text-align: center;
			text-transform: uppercase;
			
			a {
				text-decoration: none;
				color: inherit;
			}
		}

		.site-description {
			text-align: center;
		}
	}
}
