/*--------------------------------------------------------------
### Portfolio Loop
--------------------------------------------------------------*/
.portfolio-filter-terms {
	margin-bottom: 25px;

	button {
		border: none; 
		border-bottom: 2px solid #fff;
		color: $color__text-light;
		font-size: 12px; 
		letter-spacing: 1px;
		padding: 0 0 12px 0;
		margin-right: 34px;

		&:hover {
			color: $color__text-dark;
		}

		&.active {
			border-bottom: 2px solid $color__text-dark;
			color: $color__text-dark;
		}
	}
}

.portfolio-loop #projects-container,
.post-type-archive-jetpack-portfolio .site-main,
.related-projects {
	margin-right: -1.1667%;
	margin-left: -1.1667%;

	@at-root body:not(.no-active-sidebar) & {

		@media (max-width: 1175px) {
			margin-right: -0.875%;
			margin-left: -0.875%;
		}

		@media (max-width: 640px) {
			margin: 0;
		}
	}

	@at-root .no-active-sidebar & {

		@media (max-width: 890px) {
			margin-right: -0.875%;
			margin-left: -0.875%;
		}

		@media (max-width: 640px) {
			margin: 0;
		}
	}
}

.archive-project {
	float: left;
	margin-bottom: 30px;
	margin-right: 1.1667%;
	margin-left: 1.1667%;
	position: relative;
	vertical-align: top;
	width: 31%;

	@at-root body:not(.no-active-sidebar) & {

		@media (max-width: 1175px) {
			margin-right: 0.875%;
			margin-left: 0.875%;
			width: 48.25%;
		}

		@media (max-width: 640px) {
			clear: none;
			display: block;
			margin-right: 0;
			width: 100%;
		}
	}

	@at-root .no-active-sidebar & {

		@media (max-width: 890px) {
			margin-right: 0.875%;
			margin-left: 0.875%;
			width: 48.25%;
		}

		@media (max-width: 640px) {
			clear: none;
			display: block;
			margin-right: 0;
			width: 100%;
		}
	}

	.entry-thumbnail {
		margin: 0;
		
		a {
			display: block;
			line-height: 0; 
		}
	}

	.entry-overlay {
		height: 100%;
    	left: 0;
    	position: absolute;
    	top: 0;
    	transition: .3s;
    	width: 100%;
    	z-index: 0;
    	
		@at-root .entry-thumbnail:hover .entry-overlay {
			background-color: rgba(265, 265, 265, .9);
			border: 2px solid $color__text-light; 
		}
	}    
	
	.entry-content {
		opacity: 0;
		transition: .3s;
		visibility: hidden;
		z-index: 5;
	
		@at-root .entry-thumbnail:hover .entry-content {
			opacity: 1;
			visibility: visible;
		}		
	}	
	
	.entry-title {
		bottom: 60%;
		color: $color__text-dark;
		font-size: 16px;
		font-weight: bold;
		margin: 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}

	.entry-divider {
		border: solid $color__text-dark 1px;
		bottom: 55.5%;
		left: 50%;
		position: absolute;
		@include transform(translateX(-50%));
		width: 30px;
	}

	.entry-project-type {
		color: $color__text-light;
		font-family: $font__details; 
		font-size: 12px;
		letter-spacing: 1px; 
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: 52%;
		width: 100%;
	}
}

.load-more {
	text-align: center;

	a,
	span {
		@include font-size(0.8666);
		border: 2px solid $color__background-hr-dark;
		color: $color__text-medium;
		display: inline-block;
		font-family: $font__details !important;
		letter-spacing: .1em;
		padding: 1em 1.923em;
		text-decoration: none;
		text-transform: uppercase;
	}

	a:hover {
		border-color: $color__primary-accent;
		color: $color__primary-accent;
	}

	span {
		opacity: 0;
		visibility: hidden;
	}

	&.loading {

		a {
			opacity: 0;
			visibility: hidden;
		}

		span {
			opacity: 1;
			visibility: visible;
		}
	}
}
.related-projects-section {
	padding-bottom: 1.3333em;

	.related-projects {
		font-size: 1em;
		text-transform: uppercase;
	}
}
