.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta {
	text-align: center;
	text-transform: uppercase;

	span{
		font-size: 0.8em;
		color: $color__text-meta;

		&:not(:first-child) {
			&::before {
				content: '\00a0\00a0/\00a0\00a0';
			}
		}

		a {
			text-decoration: none;
			color: inherit;
		}
	}
}

.entry-title {
	text-align: center;
	color: $color__text-dark;
	margin-top: 0.25em;
}

.tags-list {
	margin-top: 1em;
	a {
		background: $color__borders ;
		color: $color__text-medium;
		display: inline-block;
		margin-right: 10px;
		margin-bottom:10px;
		text-decoration: none;
		line-height: 1em;
		font-size: 0.8em;
		padding: 8px 12px;

		&:hover {
			background: $color__primary-accent-dark;
		}
	}
}

.share-this {
	font-size: 1em;
}

.single-post .sharedaddy .sd-content {
	padding: 30px 0;
	width: 100%;
	text-align: center;

	ul {
		display: inline-block;
	}
}

.yarpp-related {
	.related-posts {
		font-size: 1em;
		text-transform: uppercase;
	}

	ol{
		margin: 0;
		list-style: none;

		li {
			display: block;
			float: left;
			width: 33.333%;
			margin: 0;

			&:hover {
				.related-post-title {
					color: $color__primary-accent-dark;
				}
			}

			img {
				vertical-align: middle;
			}

			.related-post-title {
				font-size: 1em;
				color: $color__text-dark;
			}

			.related-post-date {
				margin-top: 0;
				font-size: 0.9em;
				color: $color__text-meta;
			}
		}
	}
}

.author-box {
	margin: 20px 0;

	.author-avatar {
		float: left;

		img {
			vertical-align: middle;
			border-radius: 50%;
		}
	}

	.author-description {
		padding-left: 120px;
		font-size: 0.95em;
		color: $color__text-medium;

		.post-author-title {
			margin-top: 0;
			font-size: 1em;
			font-weight: bold;

			a {
				color: $color__text-dark;
				text-decoration: none;

				&:hover {
					color: $color__primary-accent-dark;
				}
			}
		}
	}
}
