.sticky {
	display: block;
}

.hentry {
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 2em 0 0;
}

// .page-title {
// 	font-family: $font__details;
// 	@include font-size(0.8666);
// 	letter-spacing: 1px;
// 	text-align: center;
// 	text-transform: uppercase;
// }

// .page-title-text {
// 	border: 2px solid $color__background-hr-dark;
// 	border-right: none;
// 	border-left: none;
// 	padding: 10px 0;
// }

// .page-header {
// 	border-bottom: 2px solid $color__background-hr;
// 	margin-bottom: 5.3333em;
// 	padding-bottom: 4em;
// }

.page-title {
	color: $color__text-dark;
	line-height: normal;
	margin: 0;
	text-align: center;
}

.entry-meta {
	@include display(flex);
	font-family: $font__details;
	@include justify-content(center);
	letter-spacing: .1em;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;

	span {
		color: $color__text-meta;
		@include font-size(0.8);

		&:not(:last-child) {

			&:after {
				content: '\00a0\00a0/\00a0\00a0';
				padding: 0 .4166em;
			}
		}

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $color__link;
			}
		}
	}
}

.entry-title {
	color: $color__text-dark;
	line-height: normal;
	margin: 0.5em 0 0;
	text-align: center;
	
	@at-root .page .entry-title {
		margin: 0;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $color__text-main;
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 4.6666em;
	
	.page-links-title {
		color: $color__text-dark;
	}
	
	a {
		text-decoration: none;
	}	
	
	span:not(.page-links-title) {
		@extend .button;
		background: $color__background-button;
		border-color: $color__border-button-hover;
		color: $color__link;
		margin-right: 0.1333em; 
	}

	.page-links-title ~ a span {
		border-color: $color__border-button;
		color: $color__text-dark;
	}
}

.more-link {
	display: block;
	color: $color__text-dark;
	@include font-size(0.8666);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 70px;

	.more-text {
		border-top: 2px solid $color__background-hr-dark;
		border-bottom: 2px solid $color__background-hr-dark;
		font-family: $font__details;
		letter-spacing: 1px; 
		padding: 10px 0;

		&:hover {
			border: 2px solid $color__link;
			padding: 10px 12px;
		}
	}
}

.entry {
	margin-bottom: 5em;
}

.archive-entry {
	border-bottom: 2px solid $color__background-hr;
	margin-bottom: 5em;
	padding-bottom: 5em;

	&:last-of-type {
		margin-bottom: 5.5em;
	}
}

.entry-thumbnail {

	margin: 35px 0;

	img {
		max-width: 100%;
		vertical-align: middle;
	}
}

.tags-list {
	margin-top: 1em;

	a {
		background: $color__background-hr-dark;
		color: $color__text-medium;
		display: inline-block;
		@include font-size(0.8666);
		line-height: normal;
		margin-right: 0.4615em;
		padding: 0.6153em 0.7692em;
		text-decoration: none;

		&:hover {
			background: $color__text-medium;
			color: #fff;
		}
	}
}

/*--------------------------------------------------------------
## Search Form
--------------------------------------------------------------*/
.content-area .search-form button[type="submit"] {
	border: none;
	padding: .65em;
	padding-left: 0.89375em; 
	position: relative;
	top: .2em;
	right: 4.5356em;
	
	svg {
		fill: $color__text-main;
		height: 1.2666em;
		width: 1.3333em;
	}	
}

/*--------------------------------------------------------------
## Jetpack Sharing
--------------------------------------------------------------*/
.share-this {
	font-size: 1em;
}

.single-post .sharedaddy .sd-content {
	padding: 1em 0 1.5em;
	text-align: center;
	width: 100%;

	ul {
		display: inline-block;
	}
}

/*--------------------------------------------------------------
## Related Posts
--------------------------------------------------------------*/
.yarpp-related,
.related-posts-section {
	padding-bottom: 1.3333em; 

	.related-posts {
		font-size: 1em;
		text-transform: uppercase;
	}

	ol {
		@include clearfix;
		list-style: none;
		margin: 0; 
		padding: 0.3333em 0 0;
		
		li {
			display: block;
			float: left;
			margin: 0;
			width: 31%;
			
			@media (max-width: 480px) {
				width: 100%;
			}

			&:first-child {
				margin-right: 3.5%;
			}

			&:last-child {
				margin-left: 3.5%;
			}

			a {
				text-decoration: none;
			}

			img {
				vertical-align: middle;
			}

			.related-post-title {
				@include font-size(0.9333);
				line-height: normal;
				margin-bottom: 0;
				
				@at-root &:hover {
					color: $color__text-main;
				}
			}

			.related-post-date {
				color: $color__text-meta;
				@include font-size(0.8666);
				margin-top: 0;
			}
		}
	}
}

/*--------------------------------------------------------------
## Author Box
--------------------------------------------------------------*/
.author-box {
	margin: 2.666em 0 4.3333em;

	.author-avatar {
		float: left;

		img {
			border-radius: 50%;
			vertical-align: middle;
		}
	}

	.author-description {
		@include clearfix;
		color: $color__text-main;
		@include font-size(0.9333);
		margin-left: 2em; 
		padding-left: 120px;

		.post-author-title {
			@include font-size(0.9333);
			display: block;
			font-weight: 700;
			margin: 0 0 .35em 0;

			a {
				color: $color__text-dark;
				text-decoration: none;

				&:hover {
					color: $color__text-main;
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {

	.author-box {

		.author-avatar {
			float: none;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 30px;
			}
		}

		.author-description {
			padding-left: 0;
			text-align: center;

			.post-author-title a {
				text-align: center;
			}
		}

	}
}

/*--------------------------------------------------------------
## Post Loop: Left Medium Thumbnail
--------------------------------------------------------------*/
.left-medium-loop {

	article {
		@include clearfix;
		margin-bottom: 3.25em; 

		.entry-thumbnail {
			float: left;
			margin: 0;
			width: 42.452830188679%;
		}

		.entry-content {
			float: right;
			margin: 0;
			width: 100%;

			.entry-meta {
				justify-content: initial;
				margin: .45em 0 .6em;
			}

			.entry-title {
				@include font-size(1.6);
				margin: 0;
				text-align: left;
			}

			.entry-summary {
				margin-top: 0.5em;
			}
		}

		&.has-post-thumbnail {

			.entry-content {
				width: 54.009433962264%;
			}
		}
	}
}

@media screen and (max-width: 320px) {

	.search-results .content-area {

		article {

			.entry-thumbnail {
				margin: 0 auto 25px;
				width: 100%;
			}

			.entry-content {
				float: none;

				.entry-meta {
					text-align: center;
				}

				.entry-title {
					text-align: center;
				}

				.entry-summary {
					text-align: center;
				}
			}

			&.has-post-thumbnail {

				.entry-content {
					width: 100%;
				}
			}
		}
	}
}
