.sticky {
	display: block;
}

.hentry {
}

.page-header,
.page article:first-of-type .entry-header {
	margin-bottom: 2em;
}

.entry {
	margin-bottom: 5em;
}

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
.entry-meta {
	@include display(flex);
	font-family: $font__details;
	@include justify-content(center);
	letter-spacing: .1em;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;

	span {
		color: $color__text-light;
		@include font-size(0.8);

		@media (max-width: 480px) {
			@include font-size(0.7333);
		}

		&:not(:last-child) {

			&:after {
				content: '\00a0\00a0/\00a0\00a0';
				padding: 0 .4166em;
			}
		}

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $color__primary-accent;
			}
		}
	}
}

.entry-title {
	color: $color__text-dark;
	@include font-size(2.1333);
	line-height: normal;
	margin: 0.5em 0 35px;
	text-align: center;

	@media (max-width: 480px) {
		@include font-size(1.6);
	}

	@at-root .page .entry-title {
		margin: 0;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $color__text-medium;
		}
	}
}

.entry-thumbnail {
	margin: 0 0 35px;

	img {
		max-width: 100%;
		vertical-align: middle;
	}
}

.more-link-wrapper {
	display: block;
	@include font-size(0.8666);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 30px;

	.more-text {
		border-top: 2px solid $color__background-hr-dark;
		border-bottom: 2px solid $color__background-hr-dark;
		color: $color__text-dark;
		cursor: pointer;
		display: inline-block;
		font-family: $font__details;
		letter-spacing: 1px;
		padding: 10px 0;

		@at-root .more-link:hover .more-text {
			border: 2px solid $color__primary-accent;
			color: $color__primary-accent;
			padding: 10px 12px;
		}
	}
}

// Page links: very similar to .pagination in _menus.scss.
.page-links {
	clear: both;
	margin: 0 0 4.6666em;

	.page-links-title {
		color: $color__text-dark;
	}

	a {
		text-decoration: none;
	}

	span:not(.page-links-title) {
		background: $color__primary-accent;
		border: 1px solid $color__primary-accent;
		color: #fff;
		@include font-size(0.8666);
		line-height: normal;
		margin-right: 1px;
		padding: 7px 13px;
	}

	.page-links-title ~ a span {
		background: #fff;
		border-color: $color__border-button;
		color: $color__text-medium;

		&:hover {
			background: $color__primary-accent;
			border: 1px solid $color__primary-accent;
			color: #fff;
		}
	}
}

.tags-list {
	margin-top: 1em;

	a {
		background: $color__background-hr-dark;
		color: $color__text-medium;
		display: inline-block;
		@include font-size(0.8666);
		line-height: normal;
		margin: 0 0.4615em 0.4615em 0;
		padding: 0.6153em 0.7692em;
		text-decoration: none;

		&:hover {
			background: $color__text-medium;
			color: #fff;
		}
	}
}

/*--------------------------------------------------------------
## Blog Layouts
--------------------------------------------------------------*/
.blog-layout-grid {

	.archive-entry {
		border-bottom: none;
		float: left;
		margin-right: 3.5%;
		margin-bottom: 53px;
		padding-bottom: 0;
		vertical-align: top;
		width: 31%;

		@at-root body:not(.no-active-sidebar) & {

			@media (min-width: 1175px) {

				&:nth-child(3n+3) {
					margin-right: 0;
				}

				&:nth-child(3n+4) {
					clear: left;
				}
			}

			@media (max-width: 1175px) {
				width: 48.25%;

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(3n) {
					clear: right;
				}
			}

			@media (max-width: 640px) {
				clear: none;
				display: block;
				margin-right: 0;
				width: 100%;
			}
		}

		@at-root .no-active-sidebar & {

			@media (min-width: 890px) {

				&:nth-child(3n+3) {
					margin-right: 0;
				}

				&:nth-child(3n+4) {
					clear: left;
				}
			}

			@media (max-width: 890px) {
				width: 48.25%;

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(3n) {
					clear: right;
				}
			}

			@media (max-width: 640px) {
				clear: none;
				display: block;
				margin-right: 0;
				width: 100%;
			}

		}

		.entry-meta {
			@include justify-content(left);

			span:not(:last-child):after {
				padding: 0 .2em;
			}
		}

		.entry-title {
			@include font-size(1.0666);
			margin: 10px 0 9px;
			text-align: left;
		}

		.entry-thumbnail {
			margin: 0 auto 17px;
			position: relative;

			.thumbnail-meta {
				left: 12px;
				position: absolute;
				top: 12px;
				max-width: 92%;

				a,
				span {
					background: #06090b;
					color: #fff;
					display: inline-block;
					font-family: $font__details;
					font-size: 11px;
					line-height: normal;
					letter-spacing: .1em;
					margin: 0 4px 4px 0;
					padding: 7px 9px;
					text-transform: uppercase;
					word-wrap: break-word;
				}

				span {
					margin-right: 5px;
				}
			}

			.gallery-format-slides {
				ul {
					margin: 0;
				}
			}
		}

		p:only-of-type,
		p:last-of-type {
			margin-bottom: 0;
		}

		.more-link {
		    display: block;
		    color: $color__primary-accent;
		    font-size: 0.9333em;
		    text-align: left;
		    text-decoration: none;
		    text-transform: none;
			padding-top: 5px;

			&:hover {
				color: $color__text-medium;
			}

		    .more-text {
				border: none;
    			font-family: $font__main;
    			letter-spacing: normal;
    			padding: 0;

    			&:after {
    				content: '\279E';
   					position: relative;
    				right: -7px;
    				top: 1px;
    			}
		    }
		}
	}
}

.blog-layout-alternate {

	.archive-entry {
		@include clearfix;
		margin-bottom: 60px;
		padding-bottom: 60px;

		@media (max-width: 640px) {
			display: block;
			width: 100%;
		}

		.entry-thumbnail {
			float: left;
			margin: 0 3.5% 0 0;
			position: relative;
			width: 42.5%;

			@media (max-width: 640px) {
				float: none;
				margin: 0 0 30px;
				width: 100%;
			}

			.thumbnail-meta {
				left: 12px;
				position: absolute;
				top: 12px;
				max-width: 92%;

				a,
				span {
					background: #06090b;
					color: #fff;
					display: inline-block;
					font-family: $font__details;
					font-size: 11px;
					line-height: normal;
					letter-spacing: .1em;
					margin: 0 4px 4px 0;
					padding: 7px 9px;
					text-transform: uppercase;
					word-wrap: break-word;
				}

				span {
					margin-right: 5px;
				}
			}
		}

		.gallery-format-slides {
			ul {
				margin: 0;
			}
		}

		.entry-content {
			float: right;
			width: 54%;

			@media (max-width: 640px) {
				float: none;
				width: 100%;
			}

			.entry-meta {
				@include justify-content(left);
				margin-top: 7px;
			}

			.entry-title {
				@include font-size(1.6);
				margin: 10px 0 9px;
				text-align: left;
			}

			.more-link {
			    display: block;
			    color: $color__primary-accent;
			    font-size: 0.9333em;
			    text-align: left;
			    text-decoration: none;
			    text-transform: none;
			    padding-top: 5px;

				&:hover {
					color: $color__text-medium;
				}

			    .more-text {
					border: none;
	    			font-family: $font__main;
	    			letter-spacing: normal;
	    			padding: 0;

	    			&:after {
	    				content: '\279E';
	   					position: relative;
	    				right: -7px;
	    				top: 1px;
	    			}
			    }
			}
		}

		// .archive-entry
		&:nth-of-type(2n) {

			.entry-thumbnail {
				float: right;
				margin-right: 0;
				margin-left: 3.5%;
			}

			.entry-content {
				float: left;
			}
		}
	}
}

.blog-layout-offset {

	.archive-entry {
		@include clearfix;

		.entry-header {
			margin-left: 23%;

			@media (max-width: 768px) {
				margin-left: 0;
			}

			.entry-meta {
				display: none;

				@media (max-width: 768px) {
					display: block;
				}
			}

			.entry-time {
				color: $color__text-light;
				@include font-size(0.8);
				font-family: $font__details;
				letter-spacing: .1em;
				margin-bottom: 16px;
				text-transform: uppercase;

				@media (max-width: 768px) {
					display: none;
				}
			}

			.entry-title {
				@include font-size(2.1333);
				text-align: left;
				margin: 0 0 31px;

				@media (max-width: 768px) {
					margin: 0.5em 0 35px;
					text-align: center;
				}

				@media (max-width: 480px) {
					@include font-size(1.6);
				}
			}
		}

		.entry-offset {
			box-sizing: border-box;
			float: left;
			padding-right: 30px;
			width: 23%;

			@media (max-width: 768px) {
				display: none;
			}

			div {
				line-height: normal;
				margin-bottom: 13px;
			}

			img {
				border-radius: 50%;
				margin-bottom: 3px;
			}

			.meta-text {
				display: block;
				color: $color__text-light;
				@include font-size(.8666);
				line-height: normal;
				margin-bottom: 2px;
			}

			a {
				color: $color__text-dark;
				@include font-size(.9333);
				font-weight: bold;

				&:hover {
					color: $color__text-medium;
				}
			}
		}

		.entry-content {
			float: right;
			width: 77%;

			@media (max-width: 768px) {
				float: none;
				width: 100%;
			}

			.gallery-format-slides {

				ul {
					margin: 0;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Archives & Search Results
--------------------------------------------------------------*/
.archive,
.search {

	.container > .page-header {
		border-bottom: 2px solid $color__background-hr;
		margin-bottom: $masthead__bottom-margin;
		padding-bottom: 4em;

		.page-title {
			font-family: $font__details;
			@include font-size(0.8666);
			letter-spacing: 1px;
			text-align: center;
			text-transform: uppercase;
		}

		.page-title-text {
			border: 2px solid $color__background-hr-dark;
			border-right: none;
			border-left: none;
			display: inline-block;
			padding: 10px 0;
		}
	}
}

.archive .taxonomy-description {
	margin-top: .4666em;
	text-align: center;

	p:last-of-type,
	p:only-of-type {
		margin-bottom: 0;
	}
}

.archive-entry {
	border-bottom: 2px solid $color__background-hr;
	margin-bottom: 5em;
	padding-bottom: 5em;

	&:last-of-type {
		margin-bottom: 5.5em;
	}
}

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
.page-title {
	color: $color__text-dark;
	line-height: normal;
	margin: 0;
	text-align: center;
}

/*--------------------------------------------------------------
## Search Form
--------------------------------------------------------------*/
.content-area .search-form button[type="submit"] {
	border: none;
	padding: .65em;
	padding-left: 0.89375em;
	position: relative;
	right: 4.5356em;
	top: .2em;

	svg {
		fill: $color__text-medium;
		height: 1.2666em;
		width: 1.3333em;
	}
}

/*--------------------------------------------------------------
## Jetpack Sharing
--------------------------------------------------------------*/
.share-this {
	font-size: 13px;
}

.single-post .sharedaddy .sd-content {
	padding: 1em 0 1.5em;
	text-align: center;
	width: 100%;

	ul {
		display: inline-block;
	}
}

/*--------------------------------------------------------------
## Related Posts
--------------------------------------------------------------*/
.yarpp-related,
.related-posts-section {
	padding-bottom: 1.3333em;

	.related-posts {
		font-size: 1em;
		text-transform: uppercase;
	}

	ol {
		@include clearfix;
		list-style: none;
		margin: 0;
		padding: 0.3333em 0 0;

		li {
			display: block;
			float: left;
			margin: 0;
			width: 31%;

			@media (max-width: 480px) {
				width: 100%;
			}

			&:first-child {
				margin-right: 3.5%;

				@media (max-width: 480px) {
					margin-right: 0;
				}
			}

			&:last-child {
				margin-left: 3.5%;

				@media (max-width: 480px) {
					margin-left: 0;
				}
			}

			&:only-child {
				margin: 0;
			}

			a {
				text-decoration: none;
			}

			img {
				vertical-align: middle;
			}

			.related-post-title {
				@include font-size(0.9333);
				line-height: normal;
				margin-bottom: 0;

				@at-root &:hover {
					color: $color__text-medium;
				}
			}

			.related-post-date {
				color: $color__text-light;
				@include font-size(0.8666);
				margin-top: 0;
			}
		}
	}
}

/*--------------------------------------------------------------
## Author Box
--------------------------------------------------------------*/
.author-box {
	margin: 2.666em 0 4.3333em;

	.author-avatar {
		float: left;

		@media (max-width: 480px) {
			float: none;
		}

		img {
			border-radius: 50%;
			vertical-align: middle;

			@media (max-width: 480px) {
				display: block;
				margin-right: auto;
				margin-bottom: 30px;
				margin-left: auto;
			}
		}
	}

	.author-description {
		@include clearfix;
		color: $color__text-medium;
		@include font-size(0.9333);
		padding-left: 150px;

		@media (max-width: 480px) {
			padding-left: 0;
			text-align: center;
		}

		.post-author-title {
			@include font-size(0.9333);
			display: block;
			font-weight: 700;
			margin: 0 0 .35em 0;

			a {
				color: $color__text-dark;
				text-decoration: none;

				@media (max-width: 480px) {
					text-align: center;
				}

				&:hover {
					color: $color__text-medium;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Post Loop: Left Medium Thumbnail
--------------------------------------------------------------*/
.left-medium-loop {

	article {
		@include clearfix;
		margin-bottom: 60px;

		@media (max-width: 1024px) {
			margin-bottom: 1.4667em;
		}

		.entry-thumbnail {
			float: left;
			margin: 0;
			width: 42.452830188679%;

			@media (max-width: 640px) {
				float: none;
				margin-bottom: 1.8em;
				text-align: center;
				width: 100%;
			}
		}

		.entry-content {
			float: right;
			margin: 0;
			width: 100%;

			@media (max-width: 640px) {
				float: none;
			}

			.entry-meta {
				justify-content: initial;
				margin: .45em 0 .6em;

				@media (max-width: 640px) {
					justify-content: center;
				}
			}

			.entry-title {
				@include font-size(1.6);
				margin: 0;
				text-align: left;

				@media (max-width: 640px) {
					text-align: center;
				}
			}

			.entry-summary {
				margin-top: 0.5em;
			}
		}

		&.has-post-thumbnail {

			.entry-content {
				width: 54.009433962264%;

				@media (max-width: 640px) {
					width: 100%;
				}
			}
		}
	}
}

.no-active-sidebar .left-medium-loop {

	article {

		.entry-thumbnail {
			width: 34.452830188679%;

			@media (max-width: 640px) {
				float: none;
				margin-bottom: 1.8em;
				text-align: center;
				width: 100%;
			}
		}

		&.has-post-thumbnail {

			.entry-content {
				width: 64.009433962264%;

				@media (max-width: 640px) {
					float: none;
					width: 100%;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Search Results Template
--------------------------------------------------------------*/
.search-results {

	article {
		@include clearfix;
		margin-bottom: 60px;

		@media (max-width: 1024px) {
			margin-bottom: 1.4667em;
		}

		.entry-thumbnail {
			float: left;
			margin: 0;
			width: 42.452830188679%;

			@media (max-width: 640px) {
				float: none;
				margin-bottom: 1.8em;
				text-align: center;
				width: 100%;
			}
		}

		.entry-content {
			float: right;
			margin: 0;
			width: 100%;

			@media (max-width: 640px) {
				float: none;
			}

			.entry-meta {
				justify-content: initial;
				margin: .45em 0 .6em;

				@media (max-width: 640px) {
					justify-content: center;
				}
			}

			.entry-title {
				@include font-size(1.6);
				margin: 0;
				text-align: left;

				@media (max-width: 640px) {
					text-align: center;
				}
			}

			.entry-summary {
				margin-top: 0.5em;

				@media (max-width: 640px) {
					text-align: center;
				}
			}
		}

		&.has-post-thumbnail,
		&.has-fallback-image {

			.entry-content {
				width: 54.009433962264%;

				@media (max-width: 640px) {
					width: 100%;
				}
			}
		}
	}

	&.no-active-sidebar {
		article {
			.entry-thumbnail {
				width: 34.452830188679%;

				@media (max-width: 640px) {
					float: none;
					margin-bottom: 1.8em;
					text-align: center;
					width: 100%;
				}
			}

			&.has-post-thumbnail,
			&.has-fallback-image {

				.entry-content {
					width: 64.009433962264%;

					@media (max-width: 640px) {
						float: none;
						width: 100%;
					}
				}
			}
		}
	}
}
