.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 2em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-title {
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	color: $color__text-dark;
}

.page-title-text {
	padding: 10px 0;
	border-top: 2px solid $color__text-light;
	border-bottom: 2px solid $color__text-light;
}

.page-header {
	padding: 70px 0;
	margin-bottom: 55px;
	border-bottom: 2px solid $color__background-hr-dark;
}

.entry-meta {
	@include display(flex);
	font-family: $font__details;
	@include justify-content(center); 
	text-align: center;
	text-transform: uppercase;

	span {
		color: $color__text-meta;
		@include font-size(0.8);
		
		&:not(:last-child) {

			&:after {
				content: '\00a0\00a0/\00a0\00a0';
			}
		}

		a {
			color: inherit;
			text-decoration: none;
			
			&:hover {
				color: $color__link; 
			}
		}
	}
}

.entry-title {
	color: $color__text-dark;
	@include font-size(2.133);
	line-height: normal;
	margin: 0.5em 0 0; 
	text-align: center;

	a {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			color: $color__text-medium;
		}
	}
}

.entry-thumbnail {
	
	margin: 35px 0;

	img {
		max-width: 100%;
		vertical-align: middle;
	}
}

.tags-list {
	margin-top: 1em;
	
	a {
		background: $color__background-hr-dark;
		color: $color__text-medium;
		display: inline-block;
		@include font-size(0.8666);
		line-height: normal;
		margin-right: 0.4615em;
		padding: 0.6153em 0.7692em;
		text-decoration: none;
		
		&:hover {
			background: $color__text-medium;
			color: #fff; 
		}
	}
}

.share-this {
	font-size: 1em;
}

.single-post .sharedaddy .sd-content {
	padding: 30px 0;
	width: 100%;
	text-align: center;

	ul {
		display: inline-block;
	}
}

.yarpp-related {
	
	.related-posts {
		font-size: 1em;
		text-transform: uppercase;
	}

	ol{
		margin: 0;
		list-style: none;
		@include clearfix;

		li {
			display: block;
			float: left;
			width: 33.333%;
			margin: 0;

			&:hover {

				.related-post-title {
					color: $color__primary-accent-dark;
				}
			}

			img {
				vertical-align: middle;
			}

			.related-post-title {
				font-size: 1em;
				color: $color__text-dark;
			}

			.related-post-date {
				margin-top: 0;
				font-size: 0.9em;
				color: $color__text-meta;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.yarpp-related {
		ol li {
			width: 100%;
		}
	}
}

.author-box {
	margin: 50px 0;

	.author-avatar {
		float: left;

		img {
			vertical-align: middle;
			border-radius: 50%;
		}
	}

	.author-description {
		padding-left: 120px;
		font-size: 0.95em;
		color: $color__text-medium;
		@include clearfix;

		.post-author-title {
			margin-top: 0;
			font-size: 1em;
			font-weight: bold;

			a {
				color: $color__text-dark;
				text-decoration: none;

				&:hover {
					color: $color__primary-accent-dark;
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.author-box {

		.author-avatar {
			float: none;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 30px;
			}
		}

		.author-description {
			padding-left: 0;
			text-align: center;

			.post-author-title a {
				text-align: center;
			}
		}

	}
}

.more-link {
	display: block;
	color: $color__text-dark;
	@include font-size(0.8666);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 70px;

	.more-text {
		border-top: 2px solid $color__background-hr-dark;
		border-bottom: 2px solid $color__background-hr-dark;
		font-family: $font__details; 
		padding: 10px 0;
		
		&:hover {
			border: 2px solid $color__link;
			padding: 10px 12px;
		}
	}
}

.entry {
	margin-bottom: 5em;
}

.archive-entry {
	border-bottom: 2px solid $color__background-hr;
	margin-bottom: 5em;
	padding-bottom: 5em;
	
	&:last-of-type {
		margin-bottom: 5.5em; 
	}
}

.search-results .content-area {

	article {
		@include clearfix;

		.entry-thumbnail {
			width: 42.5%;
			margin: 0 1.5% 0 0;
			float: left;
		}

		.entry-content {
			width: 100%;
			float: right;
			margin: 0;

			.entry-meta {
				text-align: left;
			}

			.entry-title {
				text-align: left;
				font-size: 1.35em;
				margin: 0;
			}

			.entry-summary {
				margin-top: 0.5em;
			}
		}

		&.has-post-thumbnail {
			.entry-content {
				width: 56%;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.search-results .content-area {
		
		article {

			.entry-thumbnail {
				width: 100%;
				margin: 0;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 25px;
			}

			.entry-content {
				float: none;

				.entry-meta {
					text-align: center;
				}

				.entry-title {
					text-align: center;
				}

				.entry-summary {
					text-align: center;
				}
			}

			&.has-post-thumbnail {
				.entry-content {
					width: 100%;
				}
			}

		}
	}
}
